A Company wants to automate the loan eligibility process based on customer details provided while filling online application form. The details filled by the customer are Gender, Marital Status, Education, Number of Dependents, Income of self and co applicant, Required Loan Amount, Required Loan Term, Credit History and others. The requirements are as follows:

# 1.)Check eligibility of the Customer given the inputs described above.(Classification)

In [122]:

from warnings import filterwarnings 
filterwarnings("ignore")

# Read Data

In [107]:
import pandas as pd
A=pd.read_csv("C:/Users/Suja4/OneDrive/Documents/Data Science/Loan_project/training_set.csv")
B=pd.read_csv("C:/Users/Suja4/OneDrive/Documents/Data Science/Loan_project/testing_set.csv")

In [108]:
A

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849.0,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,NaN,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000.0,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583.0,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000.0,0.0,141.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,Female,No,0,Graduate,No,2900.0,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106.0,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072.0,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583.0,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583.0,0.0,133.0,360.0,0.0,Semiurban,N

# Missing Data Treatment

In [109]:
A.isna().sum()

Loan_ID               0
Gender               15
Married               3
Dependents           15
Education             1
Self_Employed        32
ApplicantIncome       2
CoapplicantIncome     1
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [110]:
B.isna().sum()

Loan_ID               0
Gender               11
Married               0
Dependents           10
Education             0
Self_Employed        23
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            5
Loan_Amount_Term      6
Credit_History       29
Property_Area         0
dtype: int64

In [111]:
from Wd8pm import replacer
replacer(A)
replacer(B)

In [112]:
A.isna().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [113]:
B.isna().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
dtype: int64

# Unique values

In [114]:
A.nunique()

Loan_ID              614
Gender                 2
Married                2
Dependents             4
Education              2
Self_Employed          2
ApplicantIncome      505
CoapplicantIncome    287
LoanAmount           204
Loan_Amount_Term      11
Credit_History         3
Property_Area          3
Loan_Status            2
dtype: int64

In [115]:
B.nunique()

Loan_ID              367
Gender                 2
Married                2
Dependents             4
Education              2
Self_Employed          2
ApplicantIncome      314
CoapplicantIncome    194
LoanAmount           145
Loan_Amount_Term      13
Credit_History         3
Property_Area          3
dtype: int64

# Outliers removal

In [116]:
from Wd8pm import OL
outlier=OL(A)

#too many outliers

In [117]:
outlier

[9,
 14,
 68,
 94,
 126,
 130,
 133,
 155,
 171,
 177,
 183,
 185,
 242,
 262,
 278,
 308,
 313,
 333,
 369,
 402,
 409,
 417,
 432,
 443,
 487,
 495,
 497,
 506,
 523,
 525,
 546,
 561,
 575,
 581,
 585,
 600,
 604]

In [118]:
A=A.drop(index=outlier,axis=0)

In [119]:
A.shape

(577, 13)

In [120]:
A.index=range(0,577)

# Bivariate Analysis

In [121]:
Y= A["Loan_Status"]
X=A.drop(labels=["Loan_Status","Loan_ID"],axis=1)
Xb=B.drop(labels=["Loan_ID"],axis=1)

# Anova and chisquare

In [16]:
imp_cols = []
from Wd8pm import ANOVA,chisq
for i in X.columns:
    if(X[i].dtypes == "object"):
        pval = chisq(A,"Loan_Status",i)
        print("Loan_Status ~",i,"---->",pval)
        if(pval<0.05):
            imp_cols.append(i)
    else:
        pval = ANOVA(A,"Loan_Status",i)
        print("Loan_Status ~",i,"---->",pval)
        if(pval<0.05):
            imp_cols.append(i)

Loan_Status ~ Gender ----> 0.76236
Loan_Status ~ Married ----> 0.04094
Loan_Status ~ Dependents ----> 0.58265
Loan_Status ~ Education ----> 0.03415
Loan_Status ~ Self_Employed ----> 0.61581
Loan_Status ~ ApplicantIncome ----> 0.89434
Loan_Status ~ CoapplicantIncome ----> 0.28206
Loan_Status ~ LoanAmount ----> 0.3975
Loan_Status ~ Loan_Amount_Term ----> 0.66362
Loan_Status ~ Credit_History ----> 0.0
Loan_Status ~ Property_Area ----> 0.00232

In [17]:
imp_cols

['Married', 'Education', 'Credit_History', 'Property_Area']

# Preprocessing

In [18]:

from Wd8pm import catcon
cat,con = catcon(X)
catb,conb = catcon(Xb)

In [19]:
from Wd8pm import preprocessing
Xnew =preprocessing(X)
Xnewb=preprocessing(Xb)

didnt take important columns

In [20]:
Xnew

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Gender_Female,Gender_Male,Married_No,Married_Yes,Dependents_0,Dependents_1,Dependents_2,Dependents_3+,Education_Graduate,Education_Not Graduate,Self_Employed_No,Self_Employed_Yes,Property_Area_Rural,Property_Area_Semiurban,Property_Area_Urban
0,0.398479,-0.860843,0.184585,0.239408,0.456461,0,1,1,0,1,0,0,0,1,0,1,0,0,0,1
1,0.248823,0.053073,-0.143355,0.239408,0.456461,0,1,0,1,0,1,0,0,1,0,1,0,1,0,0
2,-0.562989,-0.860843,-1.247642,0.239408,0.456461,0,1,0,1,1,0,0,0,1,0,0,1,0,0,1
3,-0.703717,0.568211,-0.285844,0.239408,0.456461,0,1,0,1,1,0,0,0,0,1,1,0,0,0,1
4,0.449438,-0.860843,0.088189,0.239408,0.456461,0,1,1,0,1,0,0,0,1,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
572,-0.596737,-0.860843,-1.158587,0.239408,0.456461,1,0,1,0,1,0,0,0,1,0,1,0,1,0,0
573,-0.189741,-0.860843,-1.710730,-3.237229,0.456461,0,1,0,1,0,0,0,1,1,0,1,0,1,0,0
574,1.148688,-0.715392,2.083030,0.239408,0.456461,0,1,0,1,0,1,0,0,1,0,1,0,0,0,1
575,0.983662,-0.860843,0.907499,0.239408,0.456461,0,1,0,1,0,0,1,0,1,0,1,0,0,0,1
576,-0.028765,-0.860843,-0.054300,0.239408,-2.372488,1,0,1,0,1,0,0,0,1,0,0,1,0,1,0

In [21]:
Xnewb

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Gender_Female,Gender_Male,Married_No,Married_Yes,Dependents_0,Dependents_1,Dependents_2,Dependents_3+,Education_Graduate,Education_Not Graduate,Self_Employed_No,Self_Employed_Yes,Property_Area_Rural,Property_Area_Semiurban,Property_Area_Urban
0,0.186461,-0.673335,-0.429368,0.270603,0.47918,0,1,0,1,1,0,0,0,1,0,1,0,0,0,1
1,-0.352692,-0.029848,-0.166482,0.270603,0.47918,0,1,0,1,0,1,0,0,1,0,1,0,0,0,1
2,0.039641,0.098849,1.180807,0.270603,0.47918,0,1,0,1,0,0,1,0,1,0,1,0,0,0,1
3,-0.502774,0.418877,-0.593671,0.270603,0.00000,0,1,0,1,0,0,1,0,1,0,1,0,0,0,1
4,-0.311909,-0.673335,-0.955139,0.270603,0.47918,0,1,1,0,1,0,0,0,0,1,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
362,-0.162439,0.088982,-0.380077,0.270603,0.47918,0,1,0,1,0,0,0,1,0,1,0,1,0,0,1
363,-0.132056,-0.369180,-0.347216,0.270603,0.47918,0,1,0,1,1,0,0,0,1,0,1,0,0,0,1
364,-0.317211,0.181644,-0.166482,0.270603,0.00000,0,1,1,0,1,0,0,0,1,0,1,0,0,1,0
365,0.039641,0.353241,0.359289,0.270603,0.47918,0,1,0,1,1,0,0,0,1,0,1,0,1,0,0
366,0.896087,-0.673335,-0.626532,-2.518700,0.47918,0,1,1,0,1,0,0,0,1,0,0,1,1,0,0

# Splitting

In [22]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(Xnew,Y,test_size=0.2,random_state=21)

# Model1  Logistic Regression

In [23]:
from sklearn.linear_model import LogisticRegression
lr=LogisticRegression()
model=lr.fit(xtrain,ytrain)

# Prediction

In [24]:
tr_pred= model.predict(xtrain)
ts_pred=model.predict(xtest)

# Accuracy

In [25]:
from sklearn.metrics import accuracy_score,confusion_matrix
accuracy_score(ytrain,tr_pred) ,accuracy_score(ytest,ts_pred)

(0.8091106290672451, 0.8362068965517241)

In [26]:
from sklearn.metrics import confusion_matrix,recall_score
confusion_matrix(ytrain,tr_pred)

array([[ 65,  79],
       [  9, 308]], dtype=int64)

In [27]:
confusion_matrix(ytest,ts_pred)

array([[17, 18],
       [ 1, 80]], dtype=int64)

# Model 2 KNN classification

In [28]:
from sklearn.neighbors import KNeighborsClassifier
knc = KNeighborsClassifier(n_neighbors=5)

model = knc.fit(xtrain,ytrain)
tr_pred = model.predict(xtrain)
ts_pred = model.predict(xtest)
from sklearn.metrics import accuracy_score
tr_acc = accuracy_score(ytrain,tr_pred)
ts_acc = accuracy_score(ytest,ts_pred)
tr_acc,ts_acc

(0.8308026030368764, 0.8275862068965517)

In [29]:
from sklearn.metrics import confusion_matrix
confusion_matrix(ytrain,tr_pred)

array([[ 80,  64],
       [ 14, 303]], dtype=int64)

# Gridsearch CV

In [30]:
tg = {"n_neighbors":range(2,10,1)}
knc = KNeighborsClassifier()

from sklearn.model_selection import GridSearchCV
cv = GridSearchCV(knc,tg,scoring = "accuracy",cv=4)
cvmodel = cv.fit(Xnew,Y)
cvmodel.best_params_

{'n_neighbors': 9}

In [31]:
from sklearn.neighbors import KNeighborsClassifier
knc = KNeighborsClassifier(n_neighbors=9)

model = knc.fit(xtrain,ytrain)
tr_pred = model.predict(xtrain)
ts_pred = model.predict(xtest)
from sklearn.metrics import accuracy_score
tr_acc = accuracy_score(ytrain,tr_pred)
ts_acc = accuracy_score(ytest,ts_pred)
tr_acc,ts_acc

(0.8221258134490239, 0.8362068965517241)

In [32]:
from sklearn.metrics import confusion_matrix
confusion_matrix(ytrain,tr_pred)

array([[ 68,  76],
       [  6, 311]], dtype=int64)

false positive is more

# Model3 Desicion Tree classifier

In [33]:
from sklearn.tree import DecisionTreeClassifier
dtc=DecisionTreeClassifier(criterion="entropy",random_state=21)
model=dtc.fit(xtrain,ytrain)
tr_pred=dtc.predict(xtrain)
ts_pred=dtc.predict(xtest)

In [34]:
tr_acc = accuracy_score(ytrain,tr_pred)
ts_acc = accuracy_score(ytest,ts_pred)
tr_acc,ts_acc

(1.0, 0.7068965517241379)

# Pruning

In [35]:
from sklearn.model_selection import GridSearchCV

tg = {"criterion":["entropy","gini"],"max_depth":range(2,15,1)}
dtc = DecisionTreeClassifier(random_state=21)
cv = GridSearchCV(dtc,tg,scoring="accuracy",cv=4)
cvmodel = cv.fit(Xnew,Y)
cvmodel.best_params_

{'criterion': 'entropy', 'max_depth': 2}

In [36]:
from sklearn.model_selection import GridSearchCV

tg = {"criterion":["entropy","gini"],"min_samples_leaf":range(2,15,1)}
dtc = DecisionTreeClassifier(random_state=21)
cv = GridSearchCV(dtc,tg,scoring="accuracy",cv=4)
cvmodel = cv.fit(Xnew,Y)
cvmodel.best_params_

{'criterion': 'entropy', 'min_samples_leaf': 9}

In [37]:
from sklearn.model_selection import GridSearchCV

tg = {"criterion":["entropy","gini"],"min_samples_split":range(2,15,1)}
dtc = DecisionTreeClassifier(random_state=21)
cv = GridSearchCV(dtc,tg,scoring="accuracy",cv=4)
cvmodel = cv.fit(Xnew,Y)
cvmodel.best_params_

{'criterion': 'entropy', 'min_samples_split': 7}

# Finding accuracy based on best parameters obtained for max_depth ,min_samples_split,min_samples_leaf

In [38]:
dtc = DecisionTreeClassifier(min_samples_split=13)
model1 = dtc.fit(xtrain,ytrain)
tr_pred = model1.predict(xtrain)
ts_pred = model1.predict(xtest)
from sklearn.metrics import accuracy_score
tr_err = accuracy_score(ytrain,tr_pred)
ts_err  = accuracy_score(ytest,ts_pred)
tr_err,ts_err

(0.8915401301518439, 0.75)

In [39]:
dtc = DecisionTreeClassifier(min_samples_leaf=13)
model2 = dtc.fit(xtrain,ytrain)
tr_pred = model2.predict(xtrain)
ts_pred = model2.predict(xtest)
from sklearn.metrics import accuracy_score
tr_err = accuracy_score(ytrain,tr_pred)
ts_err  = accuracy_score(ytest,ts_pred)
tr_err,ts_err

(0.824295010845987, 0.7931034482758621)

In [40]:
dtc = DecisionTreeClassifier(max_depth=2)
model3 = dtc.fit(xtrain,ytrain)
tr_pred = model3.predict(xtrain)
ts_pred = model3.predict(xtest)
from sklearn.metrics import accuracy_score
tr_err = accuracy_score(ytrain,tr_pred)
ts_err  = accuracy_score(ytest,ts_pred)
tr_err,ts_err

(0.8134490238611713, 0.8362068965517241)

# Model 4 Random Forest

In [41]:
from sklearn.ensemble import RandomForestClassifier
rfr = RandomForestClassifier(random_state=21)
model = rfr.fit(xtrain,ytrain)
tr_pred = model.predict(xtrain)
ts_pred = model.predict(xtest)
from sklearn.metrics import accuracy_score
tr_acc = accuracy_score(ytrain,tr_pred)
ts_acc  = accuracy_score(ytest,ts_pred)

tr_acc,ts_acc

(1.0, 0.8103448275862069)

# Model 5 Adaboost

In [42]:
from sklearn.ensemble import AdaBoostClassifier
from sklearn.tree import DecisionTreeClassifier

dtc = DecisionTreeClassifier(random_state=21,max_depth=2)
abc = AdaBoostClassifier(dtc,n_estimators=100)

model = abc.fit(xtrain,ytrain)
tr_pred = model.predict(xtrain)
ts_pred = model.predict(xtest)
from sklearn.metrics import accuracy_score
tr_acc = accuracy_score(ytrain,tr_pred)
ts_acc  = accuracy_score(ytest,ts_pred)

tr_acc,ts_acc

(1.0, 0.7586206896551724)

In [43]:
tg = {"n_estimators":range(2,30,10)}

dtc = DecisionTreeClassifier(random_state=21,max_depth=2)
abc = AdaBoostClassifier(dtc)

from sklearn.model_selection import GridSearchCV
cv = GridSearchCV(abc,tg,scoring = "accuracy",cv=4)
cvmodel = cv.fit(Xnew,Y)
cvmodel.best_params_

{'n_estimators': 2}

In [44]:
abc = AdaBoostClassifier(dtc,n_estimators=2)

model = abc.fit(xtrain,ytrain)
tr_pred = model.predict(xtrain)
ts_pred = model.predict(xtest)
from sklearn.metrics import accuracy_score
tr_acc = accuracy_score(ytrain,tr_pred)
ts_acc  = accuracy_score(ytest,ts_pred)
tr_acc,ts_acc

(0.8221258134490239, 0.8275862068965517)

# Adaboost is  the best model

In [45]:
model = abc.fit(Xnew,Y)
ts_pred=model.predict(Xnewb)

In [46]:
ts_pred

array(['Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y',
       'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'N', 'Y',
       'Y', 'N', 'N', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'N', 'Y', 'N', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y',
       'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'N', 'N', 'N', 'Y', 'Y', 'Y', 'N', 'N', 'Y', 'N', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'N',
       'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y',
       'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'N', 'N', 'Y', 'N',
       'Y', 'Y', 'Y', 'Y', 'N', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'N', 'Y',
       'Y', 'N', 'Y', 'N', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'N', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y',
       'Y', 'N', 'N', 'Y', 'Y', 'N', 'Y', 'N', 'Y', 'N', 'Y', 'N', 'Y',
       'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'N', 'Y', 'Y', 'Y', 'Y',
       'N', 'N', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'N', 'Y', 'Y', 'Y',
       'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N',
       'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y'], dtype=object)

In [47]:
B.shape

(367, 12)

In [48]:
B["Loan_Status"]=ts_pred

In [49]:
B

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001015,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.000000,Urban,Y
1,LP001022,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.000000,Urban,Y
2,LP001031,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.000000,Urban,Y
3,LP001035,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,0.825444,Urban,Y
4,LP001051,Male,No,0,Not Graduate,No,3276,0,78.0,360.0,1.000000,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
362,LP002971,Male,Yes,3+,Not Graduate,Yes,4009,1777,113.0,360.0,1.000000,Urban,Y
363,LP002975,Male,Yes,0,Graduate,No,4158,709,115.0,360.0,1.000000,Urban,Y
364,LP002980,Male,No,0,Graduate,No,3250,1993,126.0,360.0,0.825444,Semiurban,Y
365,LP002986,Male,Yes,0,Graduate,No,5000,2393,158.0,360.0,1.000000,Rural,Y
366,LP002989,Male,No,0,Graduate,Yes,9200,0,98.0,180.0,1.000000,Rural,Y

In [50]:
B.to_csv("C:/Users/Suja4/OneDrive/Documents/Data Science/Dataset/submission_loan_1.csv")

# Second Question

# 3.)If customer is not eligible for the input required amount and duration:

# a.)what can be amount for the given duration.(Regression)
1.create a regression model to predict loan amount .
2.use the earlier predicted data and predict the loan amount for all customers with 
loan_status="N"

In [51]:
Xb=B.drop(labels=["Loan_ID"],axis=1)
Xb=B[(B.Loan_Status=="N")]
N_Cust=B[(B.Loan_Status=="N")]

In [52]:
Xb.shape

(62, 13)

In [54]:
Xb.index=range(0,62)

# Bivariate analysis

In [55]:
Y= A["LoanAmount"]
X=A.drop(labels=["LoanAmount","Loan_Status","Loan_ID"],axis=1)
Xb=Xb.drop(labels=["LoanAmount","Loan_Status","Loan_ID"],axis=1)

Finding important columns for prediction

In [56]:
imp_cols = []
from Wd8pm import ANOVA,chisq
for i in X.columns:
    if(X[i].dtypes == "object"):
        pval = chisq(A,"LoanAmount",i)
        print("LoanAmount ~",i,"---->",pval)
        if(pval<0.05):
            imp_cols.append(i)
    else:
        pval = ANOVA(A,"LoanAmount",i)
        print("LoanAmount ~",i,"---->",pval)
        if(pval<0.05):
            imp_cols.append(i)

LoanAmount ~ Gender ----> 0.36631
LoanAmount ~ Married ----> 0.27157
LoanAmount ~ Dependents ----> 0.31099
LoanAmount ~ Education ----> 0.88622
LoanAmount ~ Self_Employed ----> 0.26231
LoanAmount ~ ApplicantIncome ----> 0.0
LoanAmount ~ CoapplicantIncome ----> 0.0
LoanAmount ~ Loan_Amount_Term ----> 0.33386
LoanAmount ~ Credit_History ----> 0.88388
LoanAmount ~ Property_Area ----> 0.2452

In [57]:
imp_cols

['ApplicantIncome', 'CoapplicantIncome']

In [58]:

from Wd8pm import catcon
cat,con = catcon(X)
catb,conb = catcon(Xb)

In [59]:
from Wd8pm import preprocessing
Xnew =preprocessing(X)
Xnewb=preprocessing(Xb)

In [60]:

from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest =train_test_split(Xnew,Y,test_size=0.2,random_state=21)

# DecisionTreeRegressor

In [61]:
from sklearn.tree import DecisionTreeRegressor
dtr = DecisionTreeRegressor(random_state=21)
model = dtr.fit(xtrain,ytrain)
tr_pred = model.predict(xtrain)
ts_pred = model.predict(xtest)
from sklearn.metrics import mean_absolute_error
tr_err = mean_absolute_error(ytrain,tr_pred)
ts_err  = mean_absolute_error(ytest,ts_pred)

tr_err,ts_err

(0.06073752711496746, 44.55376281453868)

# Pruning

In [62]:
tg = {"max_depth":range(2,20,1)}
dtr = DecisionTreeRegressor(random_state=21)

from sklearn.model_selection import GridSearchCV
cv = GridSearchCV(dtr,tg,scoring = "neg_mean_absolute_error",cv=4)
cvmodel = cv.fit(Xnew,Y)
cvmodel.best_params_

{'max_depth': 4}

In [63]:
tg = {"min_samples_leaf":range(2,20,1)}
dtr = DecisionTreeRegressor(random_state=21)

from sklearn.model_selection import GridSearchCV
cv = GridSearchCV(dtr,tg,scoring = "neg_mean_absolute_error",cv=4)
cvmodel = cv.fit(Xnew,Y)
cvmodel.best_params_

{'min_samples_leaf': 14}

In [64]:
tg = {"min_samples_split":range(2,20,1)}
dtr = DecisionTreeRegressor(random_state=21)

from sklearn.model_selection import GridSearchCV
cv = GridSearchCV(dtr,tg,scoring = "neg_mean_absolute_error",cv=4)
cvmodel = cv.fit(Xnew,Y)
cvmodel.best_params_

{'min_samples_split': 19}

Finding accuracy based on best parameters obtained for max_depth ,min_samples_split,min_samples_leaf

In [65]:
dtr = DecisionTreeRegressor(max_depth=2)
model1 = dtr.fit(xtrain,ytrain)
tr_pred = model1.predict(xtrain)
ts_pred = model1.predict(xtest)
from sklearn.metrics import mean_absolute_error
tr_err = mean_absolute_error(ytrain,tr_pred)
ts_err  = mean_absolute_error(ytest,ts_pred)
tr_err,ts_err

(32.815624683194486, 38.59753786768356)

In [66]:
dtr = DecisionTreeRegressor(min_samples_split=2)
model1 = dtr.fit(xtrain,ytrain)
tr_pred = model1.predict(xtrain)
ts_pred = model1.predict(xtest)
from sklearn.metrics import mean_absolute_error
tr_err = mean_absolute_error(ytrain,tr_pred)
ts_err  = mean_absolute_error(ytest,ts_pred)
tr_err,ts_err

(0.06073752711496746, 45.15418219944082)

In [67]:
dtr = DecisionTreeRegressor(min_samples_leaf=2)
model1 = dtr.fit(xtrain,ytrain)
tr_pred = model1.predict(xtrain)
ts_pred = model1.predict(xtest)
from sklearn.metrics import mean_absolute_error
tr_err = mean_absolute_error(ytrain,tr_pred)
ts_err  = mean_absolute_error(ytest,ts_pred)
tr_err,ts_err

(12.52745695804264, 44.31847041006524)

# KNN Regression

In [68]:
from sklearn.neighbors import KNeighborsRegressor
knr= KNeighborsRegressor(n_neighbors=2)

model =knr.fit(xtrain,ytrain)
tr_pred= model.predict(xtrain)
ts_pred =model.predict(xtest)
from sklearn.metrics import mean_absolute_error
tr_err= mean_absolute_error(ytrain,tr_pred)
ts_err= mean_absolute_error(ytest,ts_pred)
tr_err,ts_err

(20.723940317758107, 38.349924277726)

In [69]:
tg = {"n_neighbors":range(2,10,1)}
knr = KNeighborsRegressor()

from sklearn.model_selection import GridSearchCV
cv = GridSearchCV(knr,tg,scoring = "neg_mean_absolute_error",cv=4)
cvmodel = cv.fit(Xnew,Y)
cvmodel.best_params_

{'n_neighbors': 9}

In [70]:
from sklearn.neighbors import KNeighborsRegressor
knr= KNeighborsRegressor(n_neighbors=9)

model =knr.fit(xtrain,ytrain)
tr_pred= model.predict(xtrain)
ts_pred =model.predict(xtest)
from sklearn.metrics import mean_absolute_error
tr_err= mean_absolute_error(ytrain,tr_pred)
ts_err= mean_absolute_error(ytest,ts_pred)
tr_err,ts_err

(30.76890556500101, 32.382876410893644)

# RandomForestRegression

In [71]:
from sklearn.ensemble import RandomForestRegressor
rfr = RandomForestRegressor(random_state=21)
model = rfr.fit(xtrain,ytrain)
tr_pred = model.predict(xtrain)
ts_pred = model.predict(xtest)
from sklearn.metrics import mean_absolute_error
tr_acc = mean_absolute_error(ytrain,tr_pred)
ts_acc  = mean_absolute_error(ytest,ts_pred)

tr_acc,ts_acc

(11.906555578354926, 35.444089468779126)

# GridsearchCV

tg = {"max_depth":range(2,20,1),"n_estimators":range(2,200,10)}
rfc = RandomForestRegressor(random_state=21)
from sklearn.model_selection import GridSearchCV
cv = GridSearchCV(rfc,tg,scoring = "neg_mean_absolute_error",cv=4)
cvmodel = cv.fit(Xnew,Y)
cvmodel.best_params_

In [72]:
rfr= RandomForestRegressor(random_state=21,max_depth=6,n_estimators=192)
model = rfr.fit(xtrain,ytrain)
tr_pred = model.predict(xtrain)
ts_pred = model.predict(xtest)
from sklearn.metrics import mean_absolute_error
tr_acc = mean_absolute_error(ytrain,tr_pred)
ts_acc  = mean_absolute_error(ytest,ts_pred)
tr_acc,ts_acc

(21.243166119843583, 34.6963249191217)

# Predicting loan amount for the customers

# KNN is best

In [73]:
model = knr.fit(Xnew,Y)

In [74]:
N_Cust["Loan_amount"]=model.predict(Xnewb)

C:\Users\Suja4\AppData\Local\Temp\ipykernel_740\2285182015.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  N_Cust["Loan_amount"]=model.predict(Xnewb)

In [75]:
N_Cust

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status,Loan_amount
7,LP001056,Male,Yes,2,Not Graduate,No,3881,0,147.0,360.0,0.0,Rural,N,135.268018
13,LP001094,Male,Yes,2,Graduate,No,12173,0,166.0,360.0,0.0,Semiurban,N,178.490240
35,LP001203,Male,No,0,Graduate,No,3150,0,176.0,360.0,0.0,Semiurban,N,95.777778
55,LP001313,Male,No,0,Graduate,No,2750,0,130.0,360.0,0.0,Urban,N,75.000000
58,LP001323,Female,Yes,2,Graduate,No,2779,3664,176.0,360.0,0.0,Semiurban,N,145.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
317,LP002774,Male,Yes,0,Not Graduate,No,1700,2900,67.0,360.0,0.0,Urban,N,119.111111
325,LP002802,Male,No,0,Graduate,No,2875,2416,95.0,6.0,0.0,Semiurban,N,109.000000
339,LP002858,Female,No,0,Graduate,No,4333,2333,162.0,360.0,0.0,Rural,N,130.823574
346,LP002879,Male,Yes,0,Graduate,No,3391,1966,133.0,360.0,0.0,Rural,N,118.444444
354,LP002921,Male,Yes,3+,Not Graduate,No,5316,187,158.0,180.0,0.0,Semiurban,N,111.268018

In [76]:
N_Cust.to_csv("C:/Users/Suja4/OneDrive/Documents/Data Science/Dataset/submission_loan_2.csv")

# b.)if duration is less than equal to 20 years,

# is customer eligible for required amount for some longer duration? What is that duration?(Regression)

1.create a regression model from old data to predict duration .
2.choose all the Loan status with "N " and duration <20 years from predicted data 
3.predict the loan duration for chosen customers

In [77]:
D_cust=B[((B.Loan_Amount_Term<=240) & (B.Loan_Status =="N"))]

# Bivariate analysis

In [78]:
Y= A["Loan_Amount_Term"]
X=A.drop(labels=["Loan_Amount_Term","Loan_Status","Loan_ID"],axis=1)

Xb=B[((B.Loan_Amount_Term<=240) & (B.Loan_Status =="N"))]
Xbb=Xb["Loan_ID"]
Xb=Xb.drop(labels=["Loan_Amount_Term","Loan_ID","Loan_Status"],axis=1)

In [79]:
Xb.shape

(5, 10)

In [80]:
Xb.index=range(0,5)

In [81]:
imp_cols = []
from Wd8pm import ANOVA,chisq
for i in X.columns:
    if(X[i].dtypes == "object"):
        pval = chisq(A,"Loan_Amount_Term",i)
        print("Loan_Amount_Term ~",i,"---->",pval)
        if(pval<0.05):
            imp_cols.append(i)
    else:
        pval = ANOVA(A,"Loan_Amount_Term",i)
        print("Loan_Amount_Term ~",i,"---->",pval)
        if(pval<0.05):
            imp_cols.append(i)

Loan_Amount_Term ~ Gender ----> 0.19777
Loan_Amount_Term ~ Married ----> 0.08065
Loan_Amount_Term ~ Dependents ----> 0.24735
Loan_Amount_Term ~ Education ----> 0.04919
Loan_Amount_Term ~ Self_Employed ----> 0.51011
Loan_Amount_Term ~ ApplicantIncome ----> 0.22654
Loan_Amount_Term ~ CoapplicantIncome ----> 0.14731
Loan_Amount_Term ~ LoanAmount ----> 0.33386
Loan_Amount_Term ~ Credit_History ----> 0.46568
Loan_Amount_Term ~ Property_Area ----> 0.13201

In [82]:
imp_cols

['Education']

In [83]:

from Wd8pm import catcon
cat,con = catcon(X)
catb,conb = catcon(Xb)

In [84]:
from Wd8pm import preprocessing
Xnew =preprocessing(X)
Xnewb=preprocessing(Xb)

In [85]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest =train_test_split(Xnew,Y,test_size=0.2,random_state=21)

# KNN regression

In [86]:
from sklearn.neighbors import KNeighborsRegressor
knr= KNeighborsRegressor(n_neighbors=2)

model =knr.fit(xtrain,ytrain)
tr_pred= model.predict(xtrain)
ts_pred =model.predict(xtest)
from sklearn.metrics import mean_absolute_error
tr_err= mean_absolute_error(ytrain,tr_pred)
ts_err= mean_absolute_error(ytest,ts_pred)
tr_err,ts_err

(15.579175704989154, 29.32758620689655)

In [87]:
tg = {"n_neighbors":range(2,10,1)}
knr = KNeighborsRegressor()

from sklearn.model_selection import GridSearchCV
cv = GridSearchCV(knr,tg,scoring = "neg_mean_absolute_error",cv=4)
cvmodel = cv.fit(Xnew,Y)
cvmodel.best_params_

{'n_neighbors': 9}

# DecisionTreeRegressor

In [88]:

from sklearn.tree import DecisionTreeRegressor
dtr = DecisionTreeRegressor(random_state=21)
model = dtr.fit(xtrain,ytrain)
tr_pred = model.predict(xtrain)
ts_pred = model.predict(xtest)
from sklearn.metrics import mean_absolute_error
tr_err = mean_absolute_error(ytrain,tr_pred)
ts_err  = mean_absolute_error(ytest,ts_pred)

tr_err,ts_err

(0.0, 38.224137931034484)

# Pruning

In [89]:
tg = {"max_depth":range(2,20,1)}
dtr = DecisionTreeRegressor(random_state=21)

from sklearn.model_selection import GridSearchCV
cv = GridSearchCV(dtr,tg,scoring = "neg_mean_absolute_error",cv=4)
cvmodel = cv.fit(Xnew,Y)
cvmodel.best_params_

{'max_depth': 3}

In [90]:
tg = {"min_samples_leaf":range(2,20,1)}
dtr = DecisionTreeRegressor(random_state=21)

from sklearn.model_selection import GridSearchCV
cv = GridSearchCV(dtr,tg,scoring = "neg_mean_absolute_error",cv=4)
cvmodel = cv.fit(Xnew,Y)
cvmodel.best_params_

{'min_samples_leaf': 16}

In [91]:
tg = {"min_samples_split":range(2,20,1)}
dtr = DecisionTreeRegressor(random_state=21)

from sklearn.model_selection import GridSearchCV
cv = GridSearchCV(dtr,tg,scoring = "neg_mean_absolute_error",cv=4)
cvmodel = cv.fit(Xnew,Y)
cvmodel.best_params_

{'min_samples_split': 3}

In [92]:
dtr = DecisionTreeRegressor(min_samples_split=2)
model1 = dtr.fit(xtrain,ytrain)
tr_pred = model1.predict(xtrain)
ts_pred = model1.predict(xtest)
from sklearn.metrics import mean_absolute_error
tr_err = mean_absolute_error(ytrain,tr_pred)
ts_err  = mean_absolute_error(ytest,ts_pred)
tr_err,ts_err

(0.0, 40.44827586206897)

In [93]:
dtr = DecisionTreeRegressor(min_samples_leaf=2)
model1 = dtr.fit(xtrain,ytrain)
tr_pred = model1.predict(xtrain)
ts_pred = model1.predict(xtest)
from sklearn.metrics import mean_absolute_error
tr_err = mean_absolute_error(ytrain,tr_pred)
ts_err  = mean_absolute_error(ytest,ts_pred)
tr_err,ts_err

(11.383947939262473, 38.64655172413793)

In [94]:
dtr = DecisionTreeRegressor(max_depth=2)
model1 = dtr.fit(xtrain,ytrain)
tr_pred = model1.predict(xtrain)
ts_pred = model1.predict(xtest)
from sklearn.metrics import mean_absolute_error
tr_err = mean_absolute_error(ytrain,tr_pred)
ts_err  = mean_absolute_error(ytest,ts_pred)
tr_err,ts_err

(25.076918720230168, 30.99094039794723)

# RandomForest

In [95]:
from sklearn.ensemble import RandomForestRegressor
rfr = RandomForestRegressor(random_state=21)
model = rfr.fit(xtrain,ytrain)
tr_pred = model.predict(xtrain)
ts_pred = model.predict(xtest)
from sklearn.metrics import mean_absolute_error
tr_acc = mean_absolute_error(ytrain,tr_pred)
ts_acc  = mean_absolute_error(ytest,ts_pred)

tr_acc,ts_acc

(11.39765726681128, 30.93775862068966)

tg = {"max_depth":range(2,20,1),"n_estimators":range(2,200,10)}
rfc = RandomForestRegressor(random_state=21)
from sklearn.model_selection import GridSearchCV
cv = GridSearchCV(rfc,tg,scoring = "neg_mean_absolute_error",cv=4)
cvmodel = cv.fit(Xnew,Y)
cvmodel.best_params_

In [96]:
rfr = RandomForestRegressor(random_state=21,max_depth=3,n_estimators=192)
model = rfr.fit(xtrain,ytrain)
tr_pred = model.predict(xtrain)
ts_pred = model.predict(xtest)
from sklearn.metrics import mean_absolute_error
tr_acc = mean_absolute_error(ytrain,tr_pred)
ts_acc  = mean_absolute_error(ytest,ts_pred)

tr_acc,ts_acc

(23.162777512937883, 28.540375604525973)

# Adaboost

In [97]:
from sklearn.ensemble import AdaBoostRegressor
from sklearn.tree import DecisionTreeRegressor
abr = AdaBoostRegressor(DecisionTreeRegressor(random_state=21,max_depth=2),n_estimators=40)
model = abr.fit(xtrain,ytrain)
tr_pred = model.predict(xtrain)
ts_pred = model.predict(xtest)
from sklearn.metrics import mean_absolute_error
tr_err = mean_absolute_error(ytrain,tr_pred)
ts_err  = mean_absolute_error(ytest,ts_pred)
tr_err,ts_err

(34.614787722433526, 38.11167621995908)

tg = {"n_estimators":range(2,30,10)}

dtc = DecisionTreeClassifier(random_state=21,max_depth=2)
abc = AdaBoostClassifier(dtc)

from sklearn.model_selection import GridSearchCV
cv = GridSearchCV(abc,tg,scoring = "accuracy",cv=4)
cvmodel = cv.fit(Xnew,Y)
cvmodel.best_params_

In [98]:
from sklearn.ensemble import AdaBoostRegressor
from sklearn.tree import DecisionTreeRegressor
abr = AdaBoostRegressor(DecisionTreeRegressor(random_state=21,max_depth=2),n_estimators=2)
model = abr.fit(xtrain,ytrain)
tr_pred = model.predict(xtrain)
ts_pred = model.predict(xtest)
from sklearn.metrics import mean_absolute_error
tr_err = mean_absolute_error(ytrain,tr_pred)
ts_err  = mean_absolute_error(ytest,ts_pred)
tr_err,ts_err

(27.107931439207473, 32.93214775341643)

# Predict duration for customers

# Adaboost is best

In [99]:

model =abr.fit(Xnew,Y)

In [100]:
len(Xnew.columns),len(Xnewb.columns)

(19, 14)

In [101]:
Xnew.columns

Index(['ApplicantIncome', 'CoapplicantIncome', 'LoanAmount', 'Credit_History',
       'Gender_Female', 'Gender_Male', 'Married_No', 'Married_Yes',
       'Dependents_0', 'Dependents_1', 'Dependents_2', 'Dependents_3+',
       'Education_Graduate', 'Education_Not Graduate', 'Self_Employed_No',
       'Self_Employed_Yes', 'Property_Area_Rural', 'Property_Area_Semiurban',
       'Property_Area_Urban'],
      dtype='object')

Xnewb[Xnew.columns]

In [102]:
Q=['Gender_Female', 'Dependents_1', 'Dependents_2', 'Self_Employed_Yes', 'Property_Area_Rural']

In [103]:
for i in Q:
    Xnewb[i]=0

In [104]:
D_cust["Loan_Amount_Term "]=model.predict(Xnewb)

C:\Users\Suja4\anaconda3\lib\site-packages\sklearn\base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names must be in the same order as they were in fit.

  warnings.warn(message, FutureWarning)
C:\Users\Suja4\AppData\Local\Temp\ipykernel_740\845108254.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  D_cust["Loan_Amount_Term "]=model.predict(Xnewb)

In [105]:
D_cust

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status,Loan_Amount_Term
84,LP001450,Male,Yes,0,Graduate,No,4456,0,131.0,180.0,0.0,Semiurban,N,338.571429
173,LP001979,Male,No,0,Graduate,No,3017,2845,159.0,180.0,0.0,Urban,N,347.145299
245,LP002355,Male,Yes,0,Graduate,No,3186,3145,150.0,180.0,0.0,Semiurban,N,338.571429
325,LP002802,Male,No,0,Graduate,No,2875,2416,95.0,6.0,0.0,Semiurban,N,281.538462
354,LP002921,Male,Yes,3+,Not Graduate,No,5316,187,158.0,180.0,0.0,Semiurban,N,338.571429

In [106]:
D_cust.to_csv("C:/Users/Suja4/OneDrive/Documents/Data Science/Dataset/submission_loan_3.csv")