A Company wants to automate the loan eligibility process based on customer details provided while filling online application form. The details filled by the customer are Gender, Marital Status, Education, Number of Dependents, Income of self and co applicant, Required Loan Amount, Required Loan Term, Credit History and others. The requirements are as follows:

# 1.)Check eligibility of the Customer given the inputs described above.(Classification)

# Read Data

In [4]:
import pandas as pd
A=pd.read_csv("C:/Users/Suja4/OneDrive/Documents/Data Science/Loan_project/training_set.csv")
B=pd.read_csv("C:/Users/Suja4/OneDrive/Documents/Data Science/Loan_project/testing_set.csv")

In [5]:
A

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849.0,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,NaN,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000.0,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583.0,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000.0,0.0,141.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,Female,No,0,Graduate,No,2900.0,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106.0,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072.0,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583.0,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583.0,0.0,133.0,360.0,0.0,Semiurban,N

# Missing Data Treatment

In [6]:
A.isna().sum()

Loan_ID               0
Gender               15
Married               3
Dependents           15
Education             1
Self_Employed        32
ApplicantIncome       2
CoapplicantIncome     1
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [7]:
B.isna().sum()

Loan_ID               0
Gender               11
Married               0
Dependents           10
Education             0
Self_Employed        23
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            5
Loan_Amount_Term      6
Credit_History       29
Property_Area         0
dtype: int64

In [8]:
from Wd8pm import replacer
replacer(A)
replacer(B)

In [9]:
A.isna().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [10]:
B.isna().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
dtype: int64

# Unique values

In [11]:
A.nunique()

Loan_ID              614
Gender                 2
Married                2
Dependents             4
Education              2
Self_Employed          2
ApplicantIncome      505
CoapplicantIncome    287
LoanAmount           204
Loan_Amount_Term      11
Credit_History         3
Property_Area          3
Loan_Status            2
dtype: int64

In [12]:
B.nunique()

Loan_ID              367
Gender                 2
Married                2
Dependents             4
Education              2
Self_Employed          2
ApplicantIncome      314
CoapplicantIncome    194
LoanAmount           145
Loan_Amount_Term      13
Credit_History         3
Property_Area          3
dtype: int64

# Outliers removal

# Bivariate Analysis

In [23]:
Y= A["Loan_Status"]
X=A.drop(labels=["Loan_Status","Loan_ID"],axis=1)
Xb=B.drop(labels=["Loan_ID"],axis=1)

# Anova and chisquare

# Preprocessing

In [24]:
Ximp = X
Xbimp=Xb

In [25]:

from Wd8pm import preprocessing
Xnew =preprocessing(Ximp)
Xnewb=preprocessing(Xbimp)

In [26]:
Xnew

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Gender_Female,Gender_Male,Married_No,Married_Yes,Dependents_0,Dependents_1,Dependents_2,Dependents_3+,Education_Graduate,Education_Not Graduate,Self_Employed_No,Self_Employed_Yes,Property_Area_Rural,Property_Area_Semiurban,Property_Area_Urban
0,0.398479,-0.860843,0.184585,0.239408,0.456461,0,1,1,0,1,0,0,0,1,0,1,0,0,0,1
1,0.248823,0.053073,-0.143355,0.239408,0.456461,0,1,0,1,0,1,0,0,1,0,1,0,1,0,0
2,-0.562989,-0.860843,-1.247642,0.239408,0.456461,0,1,0,1,1,0,0,0,1,0,0,1,0,0,1
3,-0.703717,0.568211,-0.285844,0.239408,0.456461,0,1,0,1,1,0,0,0,0,1,1,0,0,0,1
4,0.449438,-0.860843,0.088189,0.239408,0.456461,0,1,1,0,1,0,0,0,1,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
572,-0.596737,-0.860843,-1.158587,0.239408,0.456461,1,0,1,0,1,0,0,0,1,0,1,0,1,0,0
573,-0.189741,-0.860843,-1.710730,-3.237229,0.456461,0,1,0,1,0,0,0,1,1,0,1,0,1,0,0
574,1.148688,-0.715392,2.083030,0.239408,0.456461,0,1,0,1,0,1,0,0,1,0,1,0,0,0,1
575,0.983662,-0.860843,0.907499,0.239408,0.456461,0,1,0,1,0,0,1,0,1,0,1,0,0,0,1
576,-0.028765,-0.860843,-0.054300,0.239408,-2.372488,1,0,1,0,1,0,0,0,1,0,0,1,0,1,0

In [27]:
Xnewb

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Gender_Female,Gender_Male,Married_No,Married_Yes,Dependents_0,Dependents_1,Dependents_2,Dependents_3+,Education_Graduate,Education_Not Graduate,Self_Employed_No,Self_Employed_Yes,Property_Area_Rural,Property_Area_Semiurban,Property_Area_Urban
0,0.560502,-0.889260,-0.440554,0.231562,0.484028,0,1,0,1,1,0,0,0,1,0,1,0,0,0,1
1,-0.513468,0.072097,-0.108253,0.231562,0.484028,0,1,0,1,0,1,0,0,1,0,1,0,0,0,1
2,0.268044,0.264369,1.594791,0.231562,0.484028,0,1,0,1,0,0,1,0,1,0,1,0,0,0,1
3,-0.812425,0.742483,-0.648243,0.231562,0.008957,0,1,0,1,0,0,1,0,1,0,1,0,0,0,1
4,-0.432230,-0.889260,-1.105157,0.231562,0.484028,0,1,1,0,1,0,0,0,0,1,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
342,-0.134492,0.249628,-0.378248,0.231562,0.484028,0,1,0,1,0,0,0,1,0,1,0,1,0,0,1
343,-0.073969,-0.434858,-0.336710,0.231562,0.484028,0,1,0,1,1,0,0,0,1,0,1,0,0,0,1
344,-0.442791,0.388063,-0.108253,0.231562,0.008957,0,1,1,0,1,0,0,0,1,0,1,0,0,1,0
345,0.268044,0.644425,0.556349,0.231562,0.484028,0,1,0,1,1,0,0,0,1,0,1,0,1,0,0
346,1.974049,-0.889260,-0.689780,-3.370974,0.484028,0,1,1,0,1,0,0,0,1,0,0,1,1,0,0

# Splitting

In [28]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(Xnew,Y,test_size=0.2,random_state=21)

# Model1  Logistic Regression

In [29]:
from sklearn.linear_model import LogisticRegression
lr=LogisticRegression()
model=lr.fit(xtrain,ytrain)

# Prediction

In [30]:
tr_pred= model.predict(xtrain)
ts_pred=model.predict(xtest)

# Accuracy

In [31]:
from sklearn.metrics import accuracy_score,confusion_matrix
accuracy_score(ytrain,tr_pred) ,accuracy_score(ytest,ts_pred)

(0.8091106290672451, 0.8362068965517241)

In [32]:
from sklearn.metrics import confusion_matrix,recall_score
confusion_matrix(ytrain,tr_pred)

array([[ 65,  79],
       [  9, 308]], dtype=int64)

In [33]:
confusion_matrix(ytest,ts_pred)

array([[17, 18],
       [ 1, 80]], dtype=int64)

# Model 2 KNN classification

In [34]:
from sklearn.neighbors import KNeighborsClassifier
knc = KNeighborsClassifier(n_neighbors=5)

model = knc.fit(xtrain,ytrain)
tr_pred = model.predict(xtrain)
ts_pred = model.predict(xtest)
from sklearn.metrics import accuracy_score
tr_acc = accuracy_score(ytrain,tr_pred)
ts_acc = accuracy_score(ytest,ts_pred)
tr_acc,ts_acc

(0.8308026030368764, 0.8275862068965517)

In [35]:
from sklearn.metrics import confusion_matrix
confusion_matrix(ytrain,tr_pred)

array([[ 80,  64],
       [ 14, 303]], dtype=int64)

false positive is more

# Gridsearch CV

In [36]:
tg = {"n_neighbors":range(2,10,1)}
knc = KNeighborsClassifier()

from sklearn.model_selection import GridSearchCV
cv = GridSearchCV(knc,tg,scoring = "accuracy",cv=4)
cvmodel = cv.fit(Xnew,Y)
cvmodel.best_params_

{'n_neighbors': 9}

In [37]:
from sklearn.neighbors import KNeighborsClassifier
knc = KNeighborsClassifier(n_neighbors=9)

model = knc.fit(xtrain,ytrain)
tr_pred = model.predict(xtrain)
ts_pred = model.predict(xtest)
from sklearn.metrics import accuracy_score
tr_acc = accuracy_score(ytrain,tr_pred)
ts_acc = accuracy_score(ytest,ts_pred)
tr_acc,ts_acc

(0.8221258134490239, 0.8362068965517241)

In [38]:
from sklearn.metrics import confusion_matrix
confusion_matrix(ytrain,tr_pred)

array([[ 68,  76],
       [  6, 311]], dtype=int64)

false positive is more

# Model3 Desicion Tree classifier

In [39]:
from sklearn.tree import DecisionTreeClassifier
dtc=DecisionTreeClassifier(criterion="entropy",random_state=21)
model=dtc.fit(xtrain,ytrain)
tr_pred=dtc.predict(xtrain)
ts_pred=dtc.predict(xtest)

In [40]:
tr_acc = accuracy_score(ytrain,tr_pred)
ts_acc = accuracy_score(ytest,ts_pred)
tr_acc,ts_acc

(1.0, 0.7068965517241379)

# Pruning

In [41]:
from sklearn.model_selection import GridSearchCV

tg = {"criterion":["entropy","gini"],"max_depth":range(2,15,1)}
dtc = DecisionTreeClassifier(random_state=21)
cv = GridSearchCV(dtc,tg,scoring="accuracy",cv=4)
cvmodel = cv.fit(Xnew,Y)
cvmodel.best_params_

{'criterion': 'entropy', 'max_depth': 2}

In [42]:
from sklearn.model_selection import GridSearchCV

tg = {"criterion":["entropy","gini"],"min_samples_leaf":range(2,15,1)}
dtc = DecisionTreeClassifier(random_state=21)
cv = GridSearchCV(dtc,tg,scoring="accuracy",cv=4)
cvmodel = cv.fit(Xnew,Y)
cvmodel.best_params_

{'criterion': 'entropy', 'min_samples_leaf': 9}

In [43]:
from sklearn.model_selection import GridSearchCV

tg = {"criterion":["entropy","gini"],"min_samples_split":range(2,15,1)}
dtc = DecisionTreeClassifier(random_state=21)
cv = GridSearchCV(dtc,tg,scoring="accuracy",cv=4)
cvmodel = cv.fit(Xnew,Y)
cvmodel.best_params_

{'criterion': 'entropy', 'min_samples_split': 7}

# Finding accuracy based on best parameters obtained for max_depth ,min_samples_split,min_samples_leaf

In [44]:
dtc = DecisionTreeClassifier(min_samples_split=13)
model1 = dtc.fit(xtrain,ytrain)
tr_pred = model1.predict(xtrain)
ts_pred = model1.predict(xtest)
from sklearn.metrics import accuracy_score
tr_err = accuracy_score(ytrain,tr_pred)
ts_err  = accuracy_score(ytest,ts_pred)
tr_err,ts_err

(0.8893709327548807, 0.75)

In [45]:
dtc = DecisionTreeClassifier(min_samples_leaf=13)
model2 = dtc.fit(xtrain,ytrain)
tr_pred = model2.predict(xtrain)
ts_pred = model2.predict(xtest)
from sklearn.metrics import accuracy_score
tr_err = accuracy_score(ytrain,tr_pred)
ts_err  = accuracy_score(ytest,ts_pred)
tr_err,ts_err

(0.824295010845987, 0.7931034482758621)

In [46]:
dtc = DecisionTreeClassifier(max_depth=2)
model3 = dtc.fit(xtrain,ytrain)
tr_pred = model3.predict(xtrain)
ts_pred = model3.predict(xtest)
from sklearn.metrics import accuracy_score
tr_err = accuracy_score(ytrain,tr_pred)
ts_err  = accuracy_score(ytest,ts_pred)
tr_err,ts_err

(0.8134490238611713, 0.8362068965517241)

# Model 4 Random Forest

In [47]:
from sklearn.ensemble import RandomForestClassifier
rfr = RandomForestClassifier(random_state=21)
model = rfr.fit(xtrain,ytrain)
tr_pred = model.predict(xtrain)
ts_pred = model.predict(xtest)
from sklearn.metrics import accuracy_score
tr_acc = accuracy_score(ytrain,tr_pred)
ts_acc  = accuracy_score(ytest,ts_pred)

tr_acc,ts_acc

(1.0, 0.8103448275862069)

# Model 5 Adaboost

In [48]:
from sklearn.ensemble import AdaBoostClassifier
from sklearn.tree import DecisionTreeClassifier

dtc = DecisionTreeClassifier(random_state=21,max_depth=2)
abc = AdaBoostClassifier(dtc,n_estimators=100)

model = abc.fit(xtrain,ytrain)
tr_pred = model.predict(xtrain)
ts_pred = model.predict(xtest)
from sklearn.metrics import accuracy_score
tr_acc = accuracy_score(ytrain,tr_pred)
ts_acc  = accuracy_score(ytest,ts_pred)

tr_acc,ts_acc

(1.0, 0.7586206896551724)

In [49]:
tg = {"n_estimators":range(2,30,10)}

dtc = DecisionTreeClassifier(random_state=21,max_depth=2)
abc = AdaBoostClassifier(dtc)

from sklearn.model_selection import GridSearchCV
cv = GridSearchCV(abc,tg,scoring = "accuracy",cv=4)
cvmodel = cv.fit(Xnew,Y)
cvmodel.best_params_

{'n_estimators': 2}

In [50]:
abc = AdaBoostClassifier(dtc,n_estimators=2)

model = abc.fit(xtrain,ytrain)
tr_pred = model.predict(xtrain)
ts_pred = model.predict(xtest)
from sklearn.metrics import accuracy_score
tr_acc = accuracy_score(ytrain,tr_pred)
ts_acc  = accuracy_score(ytest,ts_pred)
tr_acc,ts_acc

(0.8221258134490239, 0.8275862068965517)

# KNN is  the best model

In [51]:
from sklearn.neighbors import KNeighborsClassifier
knc = KNeighborsClassifier(n_neighbors=9)

model = knc.fit(xtrain,ytrain)
tr_pred = model.predict(xtrain)
ts_pred = model.predict(xtest)
from sklearn.metrics import accuracy_score
tr_acc = accuracy_score(ytrain,tr_pred)
ts_acc = accuracy_score(ytest,ts_pred)
tr_acc,ts_acc

(0.8221258134490239, 0.8362068965517241)

In [52]:
model = knc.fit(Xnew,Y)
ts_pred=model.predict(Xnewb)

In [53]:
ts_pred

array(['Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'N', 'Y', 'Y', 'N', 'Y', 'Y',
       'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'N', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y',
       'N', 'N', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'N', 'N', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N',
       'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'N', 'Y',
       'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'N', 'N', 'Y',
       'Y', 'Y', 'N', 'N', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'N', 'Y', 'Y', 'N', 'Y', 'Y',
       'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y',
       'Y', 'Y', 'N', 'N', 'Y', 'N', 'N', 'Y', 'Y', 'Y', 'N', 'N', 'Y',
       'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'N', 'N', 'Y', 'N', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y',
       'Y', 'Y', 'N', 'N', 'Y', 'N', 'N', 'N', 'Y', 'N', 'Y', 'N', 'Y',
       'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'N', 'Y', 'Y', 'Y', 'N',
       'N', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'N', 'N', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'N',
       'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y',
       'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'N', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y'], dtype=object)

In [54]:
B.shape

(347, 12)

In [55]:
B["Loan_Status"]=ts_pred

In [56]:
B.to_csv("C:/Users/Suja4/OneDrive/Documents/Data Science/Dataset/submission_loan_1.csv")

# Second Question

# 3.)If customer is not eligible for the input required amount and duration:

# a.)what can be amount for the given duration.(Regression)
1.create a regression model to predict loan amount .
2.use the earlier predicted data and predict the loan amount for all customers with 
loan_status="N"

In [57]:
Xb=B.drop(labels=["Loan_ID"],axis=1)
Xb=B[(B.Loan_Status=="N")]

In [58]:
Xb.shape

(65, 13)

In [60]:
Xb.index=range(0,65)

# Bivariate analysis

In [61]:
Y= A["LoanAmount"]
X=A.drop(labels=["LoanAmount","Loan_Status","Loan_ID"],axis=1)
Xb=Xb.drop(labels=["LoanAmount","Loan_Status","Loan_ID"],axis=1)

In [86]:

from Wd8pm import preprocessing
Xnew =preprocessing(X)
Xnewb=preprocessing(Xb)

In [87]:

from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest =train_test_split(Xnew,Y,test_size=0.2,random_state=21)

# DecisionTreeRegressor

In [88]:
from sklearn.tree import DecisionTreeRegressor
dtr = DecisionTreeRegressor(random_state=21)
model = dtr.fit(xtrain,ytrain)
tr_pred = model.predict(xtrain)
ts_pred = model.predict(xtest)
from sklearn.metrics import mean_absolute_error
tr_err = mean_absolute_error(ytrain,tr_pred)
ts_err  = mean_absolute_error(ytest,ts_pred)

tr_err,ts_err

(0.06073752711496746, 44.55376281453868)

# Pruning

In [89]:
tg = {"max_depth":range(2,20,1)}
dtr = DecisionTreeRegressor(random_state=21)

from sklearn.model_selection import GridSearchCV
cv = GridSearchCV(dtr,tg,scoring = "neg_mean_absolute_error",cv=4)
cvmodel = cv.fit(Xnew,Y)
cvmodel.best_params_

{'max_depth': 4}

In [90]:
tg = {"min_samples_leaf":range(2,20,1)}
dtr = DecisionTreeRegressor(random_state=21)

from sklearn.model_selection import GridSearchCV
cv = GridSearchCV(dtr,tg,scoring = "neg_mean_absolute_error",cv=4)
cvmodel = cv.fit(Xnew,Y)
cvmodel.best_params_

{'min_samples_leaf': 14}

In [91]:
tg = {"min_samples_split":range(2,20,1)}
dtr = DecisionTreeRegressor(random_state=21)

from sklearn.model_selection import GridSearchCV
cv = GridSearchCV(dtr,tg,scoring = "neg_mean_absolute_error",cv=4)
cvmodel = cv.fit(Xnew,Y)
cvmodel.best_params_

{'min_samples_split': 19}

Finding accuracy based on best parameters obtained for max_depth ,min_samples_split,min_samples_leaf

In [92]:
dtr = DecisionTreeRegressor(max_depth=2)
model1 = dtr.fit(xtrain,ytrain)
tr_pred = model1.predict(xtrain)
ts_pred = model1.predict(xtest)
from sklearn.metrics import mean_absolute_error
tr_err = mean_absolute_error(ytrain,tr_pred)
ts_err  = mean_absolute_error(ytest,ts_pred)
tr_err,ts_err

(32.815624683194486, 38.59753786768357)

In [93]:
dtr = DecisionTreeRegressor(min_samples_split=2)
model1 = dtr.fit(xtrain,ytrain)
tr_pred = model1.predict(xtrain)
ts_pred = model1.predict(xtest)
from sklearn.metrics import mean_absolute_error
tr_err = mean_absolute_error(ytrain,tr_pred)
ts_err  = mean_absolute_error(ytest,ts_pred)
tr_err,ts_err

(0.06073752711496746, 45.08620689655172)

In [94]:
dtr = DecisionTreeRegressor(min_samples_leaf=2)
model1 = dtr.fit(xtrain,ytrain)
tr_pred = model1.predict(xtrain)
ts_pred = model1.predict(xtest)
from sklearn.metrics import mean_absolute_error
tr_err = mean_absolute_error(ytrain,tr_pred)
ts_err  = mean_absolute_error(ytest,ts_pred)
tr_err,ts_err

(12.656162670262454, 44.220769260639955)

# KNN Regression

In [95]:
from sklearn.neighbors import KNeighborsRegressor
knr= KNeighborsRegressor(n_neighbors=2)

model =knr.fit(xtrain,ytrain)
tr_pred= model.predict(xtrain)
ts_pred =model.predict(xtest)
from sklearn.metrics import mean_absolute_error
tr_err= mean_absolute_error(ytrain,tr_pred)
ts_err= mean_absolute_error(ytest,ts_pred)
tr_err,ts_err

(20.723940317758107, 38.349924277726)

In [96]:
tg = {"n_neighbors":range(2,10,1)}
knr = KNeighborsRegressor()

from sklearn.model_selection import GridSearchCV
cv = GridSearchCV(knr,tg,scoring = "neg_mean_absolute_error",cv=4)
cvmodel = cv.fit(Xnew,Y)
cvmodel.best_params_

{'n_neighbors': 9}

In [97]:
from sklearn.neighbors import KNeighborsRegressor
knr= KNeighborsRegressor(n_neighbors=9)

model =knr.fit(xtrain,ytrain)
tr_pred= model.predict(xtrain)
ts_pred =model.predict(xtest)
from sklearn.metrics import mean_absolute_error
tr_err= mean_absolute_error(ytrain,tr_pred)
ts_err= mean_absolute_error(ytest,ts_pred)
tr_err,ts_err

(30.76890556500101, 32.382876410893644)

# RandomForestRegression

In [98]:
from sklearn.ensemble import RandomForestRegressor
rfr = RandomForestRegressor(random_state=21)
model = rfr.fit(xtrain,ytrain)
tr_pred = model.predict(xtrain)
ts_pred = model.predict(xtest)
from sklearn.metrics import mean_absolute_error
tr_acc = mean_absolute_error(ytrain,tr_pred)
ts_acc  = mean_absolute_error(ytest,ts_pred)

tr_acc,ts_acc

(11.906555578354926, 35.444089468779126)

# GridsearchCV

In [99]:
tg = {"max_depth":range(2,20,1),"n_estimators":range(2,200,10)}
rfc = RandomForestRegressor(random_state=21)
from sklearn.model_selection import GridSearchCV
cv = GridSearchCV(rfc,tg,scoring = "neg_mean_absolute_error",cv=4)
cvmodel = cv.fit(Xnew,Y)
cvmodel.best_params_

{'max_depth': 6, 'n_estimators': 192}

In [100]:
rfr= RandomForestRegressor(random_state=21,max_depth=9,n_estimators=192)
model = rfr.fit(xtrain,ytrain)
tr_pred = model.predict(xtrain)
ts_pred = model.predict(xtest)
from sklearn.metrics import mean_absolute_error
tr_acc = mean_absolute_error(ytrain,tr_pred)
ts_acc  = mean_absolute_error(ytest,ts_pred)
tr_acc,ts_acc

(15.437782683228326, 34.92966511806752)

# Predicting loan amount for the customers

# RandomForest is best

In [101]:
model = rfr.fit(Xnew,Y)

In [102]:
Xb["Loan_amount"]=model.predict(Xnewb)

In [103]:
Xb

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,Loan_Amount_Term,Credit_History,Property_Area,Loan_amount
0,Male,No,0,Not Graduate,No,3276,0,360.0,1.0,Urban,102.782915
1,Male,Yes,2,Not Graduate,No,3881,0,360.0,0.0,Rural,110.506296
2,Male,No,0,Not Graduate,No,3091,0,360.0,1.0,Urban,99.981662
3,Male,Yes,2,Graduate,No,12173,0,360.0,0.0,Semiurban,196.639054
4,Male,No,0,Graduate,No,3150,0,360.0,0.0,Semiurban,102.008381
...,...,...,...,...,...,...,...,...,...,...,...
60,Male,Yes,0,Not Graduate,No,1700,2900,360.0,0.0,Urban,122.501426
61,Female,No,0,Graduate,No,4333,2333,360.0,0.0,Rural,149.881309
62,Male,Yes,0,Graduate,No,3391,1966,360.0,0.0,Rural,148.843417
63,Male,No,0,Not Graduate,No,2868,0,360.0,1.0,Urban,94.436463
64,Male,Yes,3+,Not Graduate,No,5316,187,180.0,0.0,Semiurban,164.383376

In [104]:
Xb.to_csv("C:/Users/Suja4/OneDrive/Documents/Data Science/Dataset/submission_loan_2.csv")

# b.)if duration is less than equal to 20 years,

# is customer eligible for required amount for some longer duration? What is that duration?(Regression)

1.create a regression model from old data to predict duration .
2.choose all the Loan status with "N " and duration <20 years from predicted data 
3.predict the loan duration for chosen customers

In [105]:
B[((B.Loan_Amount_Term<=240) & (B.Loan_Status =="N"))]

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
81,LP001450,Male,Yes,0,Graduate,No,4456,0,131.0,180.0,0.0,Semiurban,N
166,LP001979,Male,No,0,Graduate,No,3017,2845,159.0,180.0,0.0,Urban,N
232,LP002355,Male,Yes,0,Graduate,No,3186,3145,150.0,180.0,0.0,Semiurban,N
334,LP002921,Male,Yes,3+,Not Graduate,No,5316,187,158.0,180.0,0.0,Semiurban,N

# Bivariate analysis

In [106]:
Y= A["Loan_Amount_Term"]
X=A.drop(labels=["Loan_Amount_Term","Loan_Status","Loan_ID"],axis=1)

Xb=B[((B.Loan_Amount_Term<=240) & (B.Loan_Status =="N"))]
Xb=Xb.drop(labels=["Loan_Amount_Term","Loan_ID","Loan_Status"],axis=1)

In [107]:
Xb.shape

(4, 10)

In [108]:
Xb.index=range(0,4)

In [109]:

Xnew =preprocessing(X)

Xnewb=preprocessing(Xb)

In [110]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest =train_test_split(Xnew,Y,test_size=0.2,random_state=21)

# KNN regression

In [111]:
from sklearn.neighbors import KNeighborsRegressor
knr= KNeighborsRegressor(n_neighbors=2)

model =knr.fit(xtrain,ytrain)
tr_pred= model.predict(xtrain)
ts_pred =model.predict(xtest)
from sklearn.metrics import mean_absolute_error
tr_err= mean_absolute_error(ytrain,tr_pred)
ts_err= mean_absolute_error(ytest,ts_pred)
tr_err,ts_err

(15.579175704989154, 29.32758620689655)

In [112]:
tg = {"n_neighbors":range(2,10,1)}
knr = KNeighborsRegressor()

from sklearn.model_selection import GridSearchCV
cv = GridSearchCV(knr,tg,scoring = "neg_mean_absolute_error",cv=4)
cvmodel = cv.fit(Xnew,Y)
cvmodel.best_params_

{'n_neighbors': 9}

# DecisionTreeRegressor

In [113]:

from sklearn.tree import DecisionTreeRegressor
dtr = DecisionTreeRegressor(random_state=21)
model = dtr.fit(xtrain,ytrain)
tr_pred = model.predict(xtrain)
ts_pred = model.predict(xtest)
from sklearn.metrics import mean_absolute_error
tr_err = mean_absolute_error(ytrain,tr_pred)
ts_err  = mean_absolute_error(ytest,ts_pred)

tr_err,ts_err

(0.0, 38.224137931034484)

# Pruning

In [114]:
tg = {"max_depth":range(2,20,1)}
dtr = DecisionTreeRegressor(random_state=21)

from sklearn.model_selection import GridSearchCV
cv = GridSearchCV(dtr,tg,scoring = "neg_mean_absolute_error",cv=4)
cvmodel = cv.fit(Xnew,Y)
cvmodel.best_params_

{'max_depth': 3}

In [115]:
tg = {"min_samples_leaf":range(2,20,1)}
dtr = DecisionTreeRegressor(random_state=21)

from sklearn.model_selection import GridSearchCV
cv = GridSearchCV(dtr,tg,scoring = "neg_mean_absolute_error",cv=4)
cvmodel = cv.fit(Xnew,Y)
cvmodel.best_params_

{'min_samples_leaf': 16}

In [116]:
tg = {"min_samples_split":range(2,20,1)}
dtr = DecisionTreeRegressor(random_state=21)

from sklearn.model_selection import GridSearchCV
cv = GridSearchCV(dtr,tg,scoring = "neg_mean_absolute_error",cv=4)
cvmodel = cv.fit(Xnew,Y)
cvmodel.best_params_

{'min_samples_split': 3}

In [117]:
dtr = DecisionTreeRegressor(min_samples_split=2)
model1 = dtr.fit(xtrain,ytrain)
tr_pred = model1.predict(xtrain)
ts_pred = model1.predict(xtest)
from sklearn.metrics import mean_absolute_error
tr_err = mean_absolute_error(ytrain,tr_pred)
ts_err  = mean_absolute_error(ytest,ts_pred)
tr_err,ts_err

(0.0, 37.5)

In [118]:
dtr = DecisionTreeRegressor(min_samples_leaf=2)
model1 = dtr.fit(xtrain,ytrain)
tr_pred = model1.predict(xtrain)
ts_pred = model1.predict(xtest)
from sklearn.metrics import mean_absolute_error
tr_err = mean_absolute_error(ytrain,tr_pred)
ts_err  = mean_absolute_error(ytest,ts_pred)
tr_err,ts_err

(11.383947939262473, 39.16379310344828)

In [119]:
dtr = DecisionTreeRegressor(max_depth=2)
model1 = dtr.fit(xtrain,ytrain)
tr_pred = model1.predict(xtrain)
ts_pred = model1.predict(xtest)
from sklearn.metrics import mean_absolute_error
tr_err = mean_absolute_error(ytrain,tr_pred)
ts_err  = mean_absolute_error(ytest,ts_pred)
tr_err,ts_err

(25.076918720230168, 30.99094039794723)

# RandomForest

In [120]:
from sklearn.ensemble import RandomForestRegressor
rfr = RandomForestRegressor(random_state=21)
model = rfr.fit(xtrain,ytrain)
tr_pred = model.predict(xtrain)
ts_pred = model.predict(xtest)
from sklearn.metrics import mean_absolute_error
tr_acc = mean_absolute_error(ytrain,tr_pred)
ts_acc  = mean_absolute_error(ytest,ts_pred)

tr_acc,ts_acc

(11.39765726681128, 30.93775862068966)

In [121]:
tg = {"max_depth":range(2,20,1),"n_estimators":range(2,200,10)}
rfc = RandomForestRegressor(random_state=21)
from sklearn.model_selection import GridSearchCV
cv = GridSearchCV(rfc,tg,scoring = "neg_mean_absolute_error",cv=4)
cvmodel = cv.fit(Xnew,Y)
cvmodel.best_params_

{'max_depth': 3, 'n_estimators': 192}

In [122]:
rfr = RandomForestRegressor(random_state=21,max_depth=2,n_estimators=82)
model = rfr.fit(xtrain,ytrain)
tr_pred = model.predict(xtrain)
ts_pred = model.predict(xtest)
from sklearn.metrics import mean_absolute_error
tr_acc = mean_absolute_error(ytrain,tr_pred)
ts_acc  = mean_absolute_error(ytest,ts_pred)

tr_acc,ts_acc

(24.851801272748624, 28.825265258721466)

# Adaboost

In [123]:
from sklearn.ensemble import AdaBoostRegressor
from sklearn.tree import DecisionTreeRegressor
abr = AdaBoostRegressor(DecisionTreeRegressor(random_state=21,max_depth=2),n_estimators=40)
model = abr.fit(xtrain,ytrain)
tr_pred = model.predict(xtrain)
ts_pred = model.predict(xtest)
from sklearn.metrics import mean_absolute_error
tr_err = mean_absolute_error(ytrain,tr_pred)
ts_err  = mean_absolute_error(ytest,ts_pred)
tr_err,ts_err

(26.800050366588636, 31.911997928374966)

In [124]:
tg = {"n_estimators":range(2,30,10)}

dtc = DecisionTreeClassifier(random_state=21,max_depth=2)
abc = AdaBoostClassifier(dtc)

from sklearn.model_selection import GridSearchCV
cv = GridSearchCV(abc,tg,scoring = "accuracy",cv=4)
cvmodel = cv.fit(Xnew,Y)
cvmodel.best_params_

{'n_estimators': 2}

In [125]:
from sklearn.ensemble import AdaBoostRegressor
from sklearn.tree import DecisionTreeRegressor
abr = AdaBoostRegressor(DecisionTreeRegressor(random_state=21,max_depth=2),n_estimators=2)
model = abr.fit(xtrain,ytrain)
tr_pred = model.predict(xtrain)
ts_pred = model.predict(xtest)
from sklearn.metrics import mean_absolute_error
tr_err = mean_absolute_error(ytrain,tr_pred)
ts_err  = mean_absolute_error(ytest,ts_pred)
tr_err,ts_err

(27.686411331468655, 31.158439390403718)

# Predict duration for customers

# KNN is best

In [126]:
from sklearn.neighbors import KNeighborsRegressor
knr= KNeighborsRegressor(n_neighbors=2)

model =knr.fit(Xnew,Y)

In [130]:
Xnew.columns

Index(['ApplicantIncome', 'CoapplicantIncome', 'LoanAmount', 'Credit_History',
       'Gender_Female', 'Gender_Male', 'Married_No', 'Married_Yes',
       'Dependents_0', 'Dependents_1', 'Dependents_2', 'Dependents_3+',
       'Education_Graduate', 'Education_Not Graduate', 'Self_Employed_No',
       'Self_Employed_Yes', 'Property_Area_Rural', 'Property_Area_Semiurban',
       'Property_Area_Urban'],
      dtype='object')

In [136]:
Xnewb.columns

Index(['ApplicantIncome', 'CoapplicantIncome', 'LoanAmount', 'Credit_History',
       'Gender_Male', 'Married_No', 'Married_Yes', 'Dependents_0',
       'Dependents_3+', 'Education_Graduate', 'Education_Not Graduate',
       'Self_Employed_No', 'Property_Area_Semiurban', 'Property_Area_Urban',
       'Gender_Female', 'Dependents_2', 'Self_Employed_Yes',
       'Property_Area_Rural'],
      dtype='object')

In [139]:
Xnewb["Gender_Female"]=0
Xnewb["Dependents_2"]=0
Xnewb["Self_Employed_Yes"]=0
Xnewb["Property_Area_Rural"]=0
Xnewb["Dependents_1"]=0

In [140]:
Xb["Loan_Amount_Term "]=model.predict(Xnewb)

C:\Users\Suja4\anaconda3\lib\site-packages\sklearn\base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names must be in the same order as they were in fit.

  warnings.warn(message, FutureWarning)

In [143]:
Xb["Loan_ID"]=B["Loan_ID"]

In [145]:
Xb

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Credit_History,Property_Area,Loan_Amount_Term,Loan_ID
0,Male,Yes,0,Graduate,No,4456,0,131.0,0.0,Semiurban,360.0,LP001015
1,Male,No,0,Graduate,No,3017,2845,159.0,0.0,Urban,360.0,LP001022
2,Male,Yes,0,Graduate,No,3186,3145,150.0,0.0,Semiurban,270.0,LP001031
3,Male,Yes,3+,Not Graduate,No,5316,187,158.0,0.0,Semiurban,360.0,LP001035

In [144]:
Xb.to_csv("C:/Users/Suja4/OneDrive/Documents/Data Science/Dataset/submission_loan_3.csv")