# Read data

In [1]:
import pandas as pd
A=pd.read_csv("C:/Users/Suja4/OneDrive/Documents/Data Science/Dataset/Cars93.csv")
from warnings import filterwarnings 
filterwarnings("ignore")

In [2]:
A.head()

,id,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
0,1,Acura,Integra,Small,12.9,15.9,18.8,25,31,None,...,5,177,102,68,37,26.5,11.0,2705,non-USA,Acura Integra
1,2,Acura,Legend,Midsize,29.2,33.9,38.7,18,25,Driver & Passenger,...,5,195,115,71,38,30.0,15.0,3560,non-USA,Acura Legend
2,3,Audi,90,Compact,25.9,29.1,32.3,20,26,Driver only,...,5,180,102,67,37,28.0,14.0,3375,non-USA,Audi 90
3,4,Audi,100,Midsize,30.8,37.7,44.6,19,26,NaN,...,6,193,106,70,37,31.0,17.0,3405,non-USA,Audi 100
4,5,BMW,535i,Midsize,23.7,30.0,36.2,22,30,Driver only,...,4,186,109,69,39,27.0,13.0,3640,non-USA,BMW 535i

In [3]:
from Wd8pm import replacer

In [4]:
replacer(A)

In [5]:
Y = A[["Type"]]
X = A.drop(labels=["Make","id","Model","Type"],axis=1)
from Wd8pm import catcon
cat,con = catcon(X)
Xnew = pd.get_dummies(X[cat]).join(X[con])
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(Xnew,Y,test_size=0.2,random_state=21)

# RF

In [7]:
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier(random_state=21)
model = rfc.fit(xtrain,ytrain)
tr_pred = model.predict(xtrain)
ts_pred = model.predict(xtest)
from sklearn.metrics import accuracy_score
tr_acc = accuracy_score(ytrain,tr_pred)
ts_acc  = accuracy_score(ytest,ts_pred)

tr_acc,ts_acc

(1.0, 0.6842105263157895)

# Overfitting observed(pruning)

In [9]:
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier(n_estimators=150,max_depth=2)
model = rfc.fit(xtrain,ytrain)
tr_pred = model.predict(xtrain)
ts_pred = model.predict(xtest)
from sklearn.metrics import accuracy_score
tr_acc = accuracy_score(ytrain,tr_pred)
ts_acc  = accuracy_score(ytest,ts_pred)

tr_acc,ts_acc

(0.8108108108108109, 0.5263157894736842)

# GridSearchCV for hyperparameters

In [10]:
tg = {"max_depth":range(2,20,1),"n_estimators":range(2,200,10)}
rfc = RandomForestClassifier(random_state=21)
from sklearn.model_selection import GridSearchCV
cv = GridSearchCV(rfc,tg,scoring = "accuracy",cv=4)
cvmodel = cv.fit(Xnew,Y)
cvmodel.best_params_

{'max_depth': 6, 'n_estimators': 102}

In [11]:
rfc = RandomForestClassifier(random_state=21,max_depth=6,n_estimators=102)
model = rfc.fit(Xnew,Y)

# Feature Importance

In [12]:
rfc = RandomForestClassifier(random_state=21,max_depth=6,n_estimators=102)
rfc.fit(Xnew,Y)
rfc.feature_importances_

array([0.00099842, 0.00057924, 0.00058815, 0.00057837, 0.00027187,
       0.00230348, 0.00058914, 0.0006354 , 0.00064328, 0.00033031,
       0.00169843, 0.00222607, 0.00020483, 0.00157913, 0.00023519,
       0.        , 0.00045332, 0.00140698, 0.00045552, 0.00041161,
       0.00058364, 0.00042914, 0.00064257, 0.        , 0.00030295,
       0.00092057, 0.0004341 , 0.00043079, 0.        , 0.00181397,
       0.00226253, 0.00113068, 0.00277226, 0.00454061, 0.01092374,
       0.00687086, 0.00306298, 0.00302889, 0.00060659, 0.0063791 ,
       0.        , 0.00326189, 0.00212738, 0.00061726, 0.00819559,
       0.00998535, 0.00746242, 0.00416186, 0.04807282, 0.0550827 ,
       0.02882917, 0.03749855, 0.03441057, 0.04886455, 0.02351259,
       0.0172848 , 0.03310022, 0.05539988, 0.08328813, 0.07365761,
       0.06997312, 0.08068805, 0.03485801, 0.04463605, 0.06142527,
       0.07028142])

In [13]:
Q = pd.DataFrame([Xnew.columns,rfc.feature_importances_]).T
Q.columns = ["Column_Name","Importance"]

In [14]:
Q.sort_values(by="Importance",ascending=False)

              Column_Name Importance
58             Passengers   0.083288
61                  Width   0.080688
59                 Length   0.073658
65                 Weight   0.070281
60              Wheelbase   0.069973
..                    ...        ...
12     Manufacturer_Honda   0.000205
28    Manufacturer_Suzuki        0.0
15     Manufacturer_Lexus        0.0
23  Manufacturer_Plymouth        0.0
40            Cylinders_5        0.0

[66 rows x 2 columns]