In [2]:
pip install pymongo

Collecting pymongo
  Downloading pymongo-4.3.3-cp39-cp39-win_amd64.whl (382 kB)
     ------------------------------------- 382.5/382.5 kB 12.0 MB/s eta 0:00:00
Collecting dnspython<3.0.0,>=1.16.0
  Downloading dnspython-2.3.0-py3-none-any.whl (283 kB)
     ---------------------------------------- 283.7/283.7 kB ? eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.3.0 pymongo-4.3.3
Note: you may need to restart the kernel to use updated packages.

In [4]:
import pymongo

In [62]:


client = pymongo.MongoClient("mongodb+srv://suja:<password>@cluster0.l4umo6c.mongodb.net/?retryWrites=true&w=majority")
db = client.test



print(db)

Database(MongoClient(host=['ac-p56muqo-shard-00-00.l4umo6c.mongodb.net:27017', 'ac-p56muqo-shard-00-01.l4umo6c.mongodb.net:27017', 'ac-p56muqo-shard-00-02.l4umo6c.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-y0xhae-shard-0', tls=True), 'test')

In [63]:
database=client['ineuron']

In [64]:
coll=database['fsds_8th']

In [65]:
data = {"class name " : "full stack data science 2.0 " ,
        "topic name " : "mongo db nosql ",
        "todays date ": "8th jan 2023"
}

In [66]:
coll.insert_one(data)

In [67]:
many_data = [{"class name " : "full stack data science 2.0 " ,
        "topic name " : "mongo db nosql ",
        "todays date ": "8th jan 2023"
},{"class name " : "full stack data science 2.0 " ,
        "topic name " : "mongo db nosql ",
        "todays date ": "8th jan 2023"
},{"class name " : "full stack data science 2.0 " ,
        "topic name " : "mongo db nosql ",
        "todays date ": "8th jan 2023"
},{"class name " : "full stack data science 2.0 " ,
        "topic name " : "mongo db nosql ",
        "todays date ": "8th jan 2023"
},{"class name " : "full stack data science 2.0 " ,
        "topic name " : "mongo db nosql ",
        "todays date ": "8th jan 2023"
},{"class name " : "full stack data science 2.0 " ,
        "topic name " : "mongo db nosql ",
        "todays date ": "8th jan 2023"
},{"class name " : "full stack data science 2.0 " ,
        "topic name " : "mongo db nosql ",
        "todays date ": "8th jan 2023"
},{"class name " : "full stack data science 2.0 " ,
        "topic name " : "mongo db nosql ",
        "todays date ": "8th jan 2023"
},{"class name " : "full stack data science 2.0 " ,
        "topic name " : "mongo db nosql ",
        "todays date ": "8th jan 2023"
},{"class name " : "full stack data science 2.0 " ,
        "topic name " : "mongo db nosql ",
        "todays date ": "8th jan 2023"
}]

coll.insert_many(many_data)

In [69]:
import pandas as pd
A=pd.read_csv("C:/Users/Suja4/OneDrive/Documents/Data Science/Dataset/glass.data")

In [70]:
A

     index       RI     Na    Mg    Al     Si     K    Ca    Ba   Fe  Class
0        1  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.00  0.0      1
1        2  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.00  0.0      1
2        3  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.00  0.0      1
3        4  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.00  0.0      1
4        5  1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.00  0.0      1
..     ...      ...    ...   ...   ...    ...   ...   ...   ...  ...    ...
209    210  1.51623  14.14  0.00  2.88  72.61  0.08  9.18  1.06  0.0      7
210    211  1.51685  14.92  0.00  1.99  73.06  0.00  8.40  1.59  0.0      7
211    212  1.52065  14.36  0.00  2.02  73.42  0.00  8.44  1.64  0.0      7
212    213  1.51651  14.38  0.00  1.94  73.61  0.00  8.48  1.57  0.0      7
213    214  1.51711  14.23  0.00  2.08  73.36  0.00  8.62  1.67  0.0      7

[214 rows x 11 columns]