In [1]:
import pandas as pd

In [2]:
from warnings import filterwarnings

In [3]:
filterwarnings("ignore")

In [4]:
A=pd.read_csv("C:/Users/Suja4/OneDrive/Documents/Data Science/Dataset/Cars93.csv")

In [5]:
A

,id,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
0,1,Acura,Integra,Small,12.9,15.9,18.8,25,31,None,...,5,177,102,68,37,26.5,11.0,2705,non-USA,Acura Integra
1,2,Acura,Legend,Midsize,29.2,33.9,38.7,18,25,Driver & Passenger,...,5,195,115,71,38,30.0,15.0,3560,non-USA,Acura Legend
2,3,Audi,90,Compact,25.9,29.1,32.3,20,26,Driver only,...,5,180,102,67,37,28.0,14.0,3375,non-USA,Audi 90
3,4,Audi,100,Midsize,30.8,37.7,44.6,19,26,NaN,...,6,193,106,70,37,31.0,17.0,3405,non-USA,Audi 100
4,5,BMW,535i,Midsize,23.7,30.0,36.2,22,30,Driver only,...,4,186,109,69,39,27.0,13.0,3640,non-USA,BMW 535i
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,89,Volkswagen,Eurovan,Van,16.6,19.7,22.7,17,21,None,...,7,187,115,72,38,34.0,NaN,3960,non-USA,Volkswagen Eurovan
89,90,Volkswagen,Passat,Compact,17.6,20.0,22.4,21,30,None,...,5,180,103,67,35,31.5,14.0,2985,non-USA,Volkswagen Passat
90,91,Volkswagen,Corrado,Sporty,22.9,23.3,23.7,18,25,None,...,4,159,97,66,36,26.0,15.0,2810,non-USA,Volkswagen Corrado
91,92,Volvo,240,Compact,21.8,22.7,23.5,21,28,Driver only,...,5,190,104,67,37,29.5,14.0,2985,non-USA,Volvo 240
92,93,Volvo,850,Midsize,24.8,26.7,28.5,20,28,Driver & Passenger,...,5,184,105,69,38,30.0,15.0,3245,non-USA,Volvo 850

In [6]:
A[["Type","Price"]].head()

      Type  Price
0    Small   15.9
1  Midsize   33.9
2  Compact   29.1
3  Midsize   37.7
4  Midsize   30.0

In [7]:
from statsmodels.formula.api import ols
model = ols("Price ~ Type",A).fit()

from statsmodels.stats.anova import anova_lm
anova_lm(model)

            df       sum_sq     mean_sq          F        PR(>F)
Type       5.0  3421.435111  684.287022  11.531618  1.476999e-08
Residual  87.0  5162.586180   59.340071        NaN           NaN

In [8]:
from Wd8pm import anova

ImportError: cannot import name 'anova' from 'Wd8pm' (C:\Users\Suja4\OneDrive\Documents\Data Science\DataScience\JupiterCode\Wd8pm.py)

In [ ]:
anova("Price","Type",A)

In [ ]:
anova("Price","AirBags",A)

In [ ]:
x = 1.476999e-08
x*10000000

In [ ]:
from Wd8pm import catcon

In [ ]:
cat,con=catcon(A)

In [ ]:
cat

In [ ]:
anova("Price", 'Model',A)

In [ ]:
anova("Price", 'DriveTrain',A)

In [ ]:
anova("Price", 'Cylinders',A)

In [ ]:
anova("Price", 'Origin',A)

In [ ]:
anova("Price", 'Model',A)

In [ ]:
anova("Price", 'Manufacturer',A)

In [ ]:
anova("Price", 'Min.Price',A)