A Company wants to automate the loan eligibility process based on customer details provided while filling online application form. The details filled by the customer are Gender, Marital Status, Education, Number of Dependents, Income of self and co applicant, Required Loan Amount, Required Loan Term, Credit History and others. The requirements are as follows:

# 1.)Check eligibility of the Customer given the inputs described above.(Classification)

In [1]:

from warnings import filterwarnings 
filterwarnings("ignore")

# Read Data

In [2]:
import pandas as pd
A=pd.read_csv("C:/Users/Suja4/OneDrive/Documents/Data Science/Loan_project/training_set.csv")
B=pd.read_csv("C:/Users/Suja4/OneDrive/Documents/Data Science/Loan_project/testing_set.csv")

In [3]:
A

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849.0,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,NaN,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000.0,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583.0,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000.0,0.0,141.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,Female,No,0,Graduate,No,2900.0,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106.0,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072.0,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583.0,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583.0,0.0,133.0,360.0,0.0,Semiurban,N

# Missing Data Treatment

In [4]:
A.isna().sum()

Loan_ID               0
Gender               15
Married               3
Dependents           15
Education             1
Self_Employed        32
ApplicantIncome       2
CoapplicantIncome     1
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [5]:
B.isna().sum()

Loan_ID               0
Gender               11
Married               0
Dependents           10
Education             0
Self_Employed        23
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            5
Loan_Amount_Term      6
Credit_History       29
Property_Area         0
dtype: int64

In [6]:
from Wd8pm import replacer
replacer(A)

In [7]:
x = A['Gender'].mode()[0]
B['Gender'] = B['Gender'].fillna(x)

In [8]:
x = A['Dependents'].mode()[0]
B['Dependents'] = B['Dependents'].fillna(x)

In [9]:
x = A['Self_Employed'].mode()[0]
B['Self_Employed'] = B['Self_Employed'].fillna(x)

In [10]:
x = round(A['LoanAmount'].mean(),2)
B['LoanAmount'] = B['LoanAmount'].fillna(x)

In [11]:
x = round(A['Loan_Amount_Term'].mean(),2)
B['Loan_Amount_Term'] = B['Loan_Amount_Term'].fillna(x)

In [12]:
x =A['Credit_History'].mode()[0]
B['Credit_History']= B['Credit_History'].fillna(x)

In [13]:
A.isna().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [14]:
B.isna().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
dtype: int64

# Unique values

In [15]:
A.nunique()

Loan_ID              614
Gender                 2
Married                2
Dependents             4
Education              2
Self_Employed          2
ApplicantIncome      505
CoapplicantIncome    287
LoanAmount           204
Loan_Amount_Term      11
Credit_History         3
Property_Area          3
Loan_Status            2
dtype: int64

In [16]:
B.nunique()

Loan_ID              367
Gender                 2
Married                2
Dependents             4
Education              2
Self_Employed          2
ApplicantIncome      314
CoapplicantIncome    194
LoanAmount           145
Loan_Amount_Term      13
Credit_History         2
Property_Area          3
dtype: int64

# Outliers removal

#too many outliers

In [17]:
from Wd8pm import OL
outlier=OL(A)

In [18]:
outlier

[9,
 14,
 68,
 94,
 126,
 130,
 133,
 155,
 171,
 177,
 183,
 185,
 242,
 262,
 278,
 308,
 313,
 333,
 369,
 402,
 409,
 417,
 432,
 443,
 487,
 495,
 497,
 506,
 523,
 525,
 546,
 561,
 575,
 581,
 585,
 600,
 604]

In [19]:
A=A.drop(index=outlier,axis=0)

In [20]:
A.shape

(577, 13)

In [21]:
A.index=range(0,577)

# Bivariate Analysis

In [22]:
Y= A["Loan_Status"]
X=A.drop(labels=["Loan_Status","Loan_ID"],axis=1)
Xb=B.drop(labels=["Loan_ID"],axis=1)

# Anova and chisquare

In [23]:
imp_cols = []
from Wd8pm import ANOVA,chisq
for i in X.columns:
    if(X[i].dtypes == "object"):
        pval = chisq(A,"Loan_Status",i)
        print("Loan_Status ~",i,"---->",pval)
        if(pval<0.05):
            imp_cols.append(i)
    else:
        pval = ANOVA(A,"Loan_Status",i)
        print("Loan_Status ~",i,"---->",pval)
        if(pval<0.05):
            imp_cols.append(i)

Loan_Status ~ Gender ----> 0.76236
Loan_Status ~ Married ----> 0.04094
Loan_Status ~ Dependents ----> 0.58265
Loan_Status ~ Education ----> 0.03415
Loan_Status ~ Self_Employed ----> 0.61581
Loan_Status ~ ApplicantIncome ----> 0.89434
Loan_Status ~ CoapplicantIncome ----> 0.28206
Loan_Status ~ LoanAmount ----> 0.3975
Loan_Status ~ Loan_Amount_Term ----> 0.66362
Loan_Status ~ Credit_History ----> 0.0
Loan_Status ~ Property_Area ----> 0.00232

In [24]:
imp_cols

['Married', 'Education', 'Credit_History', 'Property_Area']

# Preprocessing

In [25]:
Ximp = X[imp_cols]
Xbimp=Xb[imp_cols]
from Wd8pm import preprocessing
Xnew =preprocessing(Ximp)
Xnewb=preprocessing(Xbimp)

In [26]:
Xnew

,Credit_History,Married_No,Married_Yes,Education_Graduate,Education_Not Graduate,Property_Area_Rural,Property_Area_Semiurban,Property_Area_Urban
0,0.456461,1,0,1,0,0,0,1
1,0.456461,0,1,1,0,1,0,0
2,0.456461,0,1,1,0,0,0,1
3,0.456461,0,1,0,1,0,0,1
4,0.456461,1,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...
572,0.456461,1,0,1,0,1,0,0
573,0.456461,0,1,1,0,1,0,0
574,0.456461,0,1,1,0,0,0,1
575,0.456461,0,1,1,0,0,0,1
576,-2.372488,1,0,1,0,0,1,0

In [27]:
Xnewb

,Credit_History,Married_No,Married_Yes,Education_Graduate,Education_Not Graduate,Property_Area_Rural,Property_Area_Semiurban,Property_Area_Urban
0,0.437674,0,1,1,0,0,0,1
1,0.437674,0,1,1,0,0,0,1
2,0.437674,0,1,1,0,0,0,1
3,0.437674,0,1,1,0,0,0,1
4,0.437674,1,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...
362,0.437674,0,1,0,1,0,0,1
363,0.437674,0,1,1,0,0,0,1
364,0.437674,1,0,1,0,0,1,0
365,0.437674,0,1,1,0,1,0,0
366,0.437674,1,0,1,0,1,0,0

# Splitting

In [28]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(Xnew,Y,test_size=0.2,random_state=21)

# Model1  Logistic Regression

In [29]:
from sklearn.linear_model import LogisticRegression
lr=LogisticRegression()
model=lr.fit(xtrain,ytrain)

# Prediction

In [30]:
tr_pred= model.predict(xtrain)
ts_pred=model.predict(xtest)

# Accuracy

In [31]:
from sklearn.metrics import accuracy_score,confusion_matrix
accuracy_score(ytrain,tr_pred) ,accuracy_score(ytest,ts_pred)

(0.8112798264642083, 0.8448275862068966)

In [32]:
from sklearn.metrics import confusion_matrix,recall_score
confusion_matrix(ytrain,tr_pred)

array([[ 63,  81],
       [  6, 311]], dtype=int64)

In [33]:
confusion_matrix(ytest,ts_pred)

array([[17, 18],
       [ 0, 81]], dtype=int64)

# Bivariate analysis for other models

In [34]:
Y= A["Loan_Status"]
X=A.drop(labels=["Loan_Status","Loan_ID"],axis=1)
Xb=B.drop(labels=["Loan_ID"],axis=1)

In [35]:
from Wd8pm import catcon
cat,con= catcon(X)
catb,conb= catcon(Xb)

In [36]:
from Wd8pm import catcon

Xnew = pd.get_dummies(X[cat]).join(X[con])


Xnewb = pd.get_dummies(Xb[catb]).join(Xb[conb])

In [37]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(Xnew,Y,test_size=0.2,random_state=21)

# Model 2 KNN classification

In [38]:
from sklearn.neighbors import KNeighborsClassifier
knc = KNeighborsClassifier(n_neighbors=5)

model = knc.fit(xtrain,ytrain)
tr_pred = model.predict(xtrain)
ts_pred = model.predict(xtest)
from sklearn.metrics import accuracy_score
tr_acc = accuracy_score(ytrain,tr_pred)
ts_acc = accuracy_score(ytest,ts_pred)
tr_acc,ts_acc

(0.7592190889370932, 0.5775862068965517)

In [39]:
from sklearn.metrics import confusion_matrix
confusion_matrix(ytrain,tr_pred)

array([[ 54,  90],
       [ 21, 296]], dtype=int64)

# Gridsearch CV

In [40]:
tg = {"n_neighbors":range(2,10,1)}
knc = KNeighborsClassifier()

from sklearn.model_selection import GridSearchCV
cv = GridSearchCV(knc,tg,scoring = "accuracy",cv=4)
cvmodel = cv.fit(Xnew,Y)
cvmodel.best_params_

{'n_neighbors': 9}

In [41]:
from sklearn.neighbors import KNeighborsClassifier
knc = KNeighborsClassifier(n_neighbors=9)

model = knc.fit(xtrain,ytrain)
tr_pred = model.predict(xtrain)
ts_pred = model.predict(xtest)
from sklearn.metrics import accuracy_score
tr_acc = accuracy_score(ytrain,tr_pred)
ts_acc = accuracy_score(ytest,ts_pred)
tr_acc,ts_acc

(0.7223427331887202, 0.6379310344827587)

In [42]:
from sklearn.metrics import confusion_matrix
confusion_matrix(ytrain,tr_pred)

array([[ 36, 108],
       [ 20, 297]], dtype=int64)

false positive is more

# Model3 Desicion Tree classifier

In [43]:
from sklearn.tree import DecisionTreeClassifier
dtc=DecisionTreeClassifier(criterion="entropy",random_state=21)
model=dtc.fit(xtrain,ytrain)
tr_pred=dtc.predict(xtrain)
ts_pred=dtc.predict(xtest)

In [44]:
tr_acc = accuracy_score(ytrain,tr_pred)
ts_acc = accuracy_score(ytest,ts_pred)
tr_acc,ts_acc

(1.0, 0.7413793103448276)

# Pruning

In [45]:
from sklearn.model_selection import GridSearchCV

tg = {"criterion":["entropy","gini"],"max_depth":range(2,15,1)}
dtc = DecisionTreeClassifier(random_state=21)
cv = GridSearchCV(dtc,tg,scoring="accuracy",cv=4)
cvmodel = cv.fit(Xnew,Y)
cvmodel.best_params_

{'criterion': 'entropy', 'max_depth': 2}

In [46]:
from sklearn.model_selection import GridSearchCV

tg = {"criterion":["entropy","gini"],"min_samples_leaf":range(2,15,1)}
dtc = DecisionTreeClassifier(random_state=21)
cv = GridSearchCV(dtc,tg,scoring="accuracy",cv=4)
cvmodel = cv.fit(Xnew,Y)
cvmodel.best_params_

{'criterion': 'entropy', 'min_samples_leaf': 9}

In [47]:
from sklearn.model_selection import GridSearchCV

tg = {"criterion":["entropy","gini"],"min_samples_split":range(2,15,1)}
dtc = DecisionTreeClassifier(random_state=21)
cv = GridSearchCV(dtc,tg,scoring="accuracy",cv=4)
cvmodel = cv.fit(Xnew,Y)
cvmodel.best_params_

{'criterion': 'entropy', 'min_samples_split': 11}

# Finding accuracy based on best parameters obtained for max_depth ,min_samples_split,min_samples_leaf

In [48]:
dtc = DecisionTreeClassifier(min_samples_split=11)
model1 = dtc.fit(xtrain,ytrain)
tr_pred = model1.predict(xtrain)
ts_pred = model1.predict(xtest)
from sklearn.metrics import accuracy_score
tr_err = accuracy_score(ytrain,tr_pred)
ts_err  = accuracy_score(ytest,ts_pred)
tr_err,ts_err

(0.9002169197396963, 0.7413793103448276)

In [49]:
dtc = DecisionTreeClassifier(min_samples_leaf=9)
model2 = dtc.fit(xtrain,ytrain)
tr_pred = model2.predict(xtrain)
ts_pred = model2.predict(xtest)
from sklearn.metrics import accuracy_score
tr_err = accuracy_score(ytrain,tr_pred)
ts_err  = accuracy_score(ytest,ts_pred)
tr_err,ts_err

(0.8329718004338394, 0.7413793103448276)

In [50]:
dtc = DecisionTreeClassifier(max_depth=2)
model3 = dtc.fit(xtrain,ytrain)
tr_pred = model3.predict(xtrain)
ts_pred = model3.predict(xtest)
from sklearn.metrics import accuracy_score
tr_err = accuracy_score(ytrain,tr_pred)
ts_err  = accuracy_score(ytest,ts_pred)
tr_err,ts_err

(0.8134490238611713, 0.8362068965517241)

# Model 4 Random Forest

In [51]:
from sklearn.ensemble import RandomForestClassifier
rfr = RandomForestClassifier(random_state=21)
model = rfr.fit(xtrain,ytrain)
tr_pred = model.predict(xtrain)
ts_pred = model.predict(xtest)
from sklearn.metrics import accuracy_score
tr_acc = accuracy_score(ytrain,tr_pred)
ts_acc  = accuracy_score(ytest,ts_pred)

tr_acc,ts_acc

(1.0, 0.8189655172413793)

tg = {"max_depth":range(2,20,1),"n_estimators":range(2,200,10)}
rfc = RandomForestClassifier(random_state=21)
from sklearn.model_selection import GridSearchCV
cv = GridSearchCV(rfc,tg,scoring = "accuracy",cv=4)
cvmodel = cv.fit(Xnew,Y)
cvmodel.best_params_

In [52]:
rfc = RandomForestClassifier(random_state=21,max_depth=6,n_estimators=22)
model = rfc.fit(Xnew,Y)
tr_pred = model.predict(xtrain)
ts_pred = model.predict(xtest)
from sklearn.metrics import accuracy_score
tr_acc = accuracy_score(ytrain,tr_pred)
ts_acc  = accuracy_score(ytest,ts_pred)

tr_acc,ts_acc

(0.8394793926247288, 0.8448275862068966)

# Model 5 Adaboost

In [53]:
from sklearn.ensemble import AdaBoostClassifier
from sklearn.tree import DecisionTreeClassifier

dtc = DecisionTreeClassifier(random_state=21,max_depth=2)
abc = AdaBoostClassifier(dtc,n_estimators=100)

model = abc.fit(xtrain,ytrain)
tr_pred = model.predict(xtrain)
ts_pred = model.predict(xtest)
from sklearn.metrics import accuracy_score
tr_acc = accuracy_score(ytrain,tr_pred)
ts_acc  = accuracy_score(ytest,ts_pred)

tr_acc,ts_acc

(1.0, 0.7586206896551724)

In [54]:
tg = {"n_estimators":range(2,100,10)}

dtc = DecisionTreeClassifier(random_state=21,max_depth=2)
abc = AdaBoostClassifier(dtc)

from sklearn.model_selection import GridSearchCV
cv = GridSearchCV(abc,tg,scoring = "accuracy",cv=4)
cvmodel = cv.fit(Xnew,Y)
cvmodel.best_params_

{'n_estimators': 2}

In [55]:
abc = AdaBoostClassifier(dtc,n_estimators=2)

model = abc.fit(xtrain,ytrain)
tr_pred = model.predict(xtrain)
ts_pred = model.predict(xtest)
from sklearn.metrics import accuracy_score
tr_acc = accuracy_score(ytrain,tr_pred)
ts_acc  = accuracy_score(ytest,ts_pred)
tr_acc,ts_acc

(0.8221258134490239, 0.8275862068965517)

# Adaboost is  the best model

In [56]:
model = abc.fit(Xnew,Y)
ts_pred=model.predict(Xnewb)

In [57]:
Xnewb.shape

(367, 20)

In [58]:
B.shape

(367, 12)

In [59]:
B["Loan_Status"]=ts_pred

In [60]:
B

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001015,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban,Y
1,LP001022,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban,Y
2,LP001031,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.0,Urban,Y
3,LP001035,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,1.0,Urban,Y
4,LP001051,Male,No,0,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
362,LP002971,Male,Yes,3+,Not Graduate,Yes,4009,1777,113.0,360.0,1.0,Urban,Y
363,LP002975,Male,Yes,0,Graduate,No,4158,709,115.0,360.0,1.0,Urban,Y
364,LP002980,Male,No,0,Graduate,No,3250,1993,126.0,360.0,1.0,Semiurban,Y
365,LP002986,Male,Yes,0,Graduate,No,5000,2393,158.0,360.0,1.0,Rural,Y
366,LP002989,Male,No,0,Graduate,Yes,9200,0,98.0,180.0,1.0,Rural,Y

In [61]:
B.to_csv("C:/Users/Suja4/OneDrive/Documents/Data Science/Dataset/submission_loan_1.csv")

# Second Question

# 3.)If customer is not eligible for the input required amount and duration:

# a.)what can be amount for the given duration.(Regression)
1.create a regression model to predict loan amount .
2.use the earlier predicted data and predict the loan amount for all customers with 
loan_status="N"

In [62]:
Xb2=B[(B.Loan_Status=="N")]

In [63]:
Xb2.shape

(62, 13)

In [65]:
Xb2.index=range(0,62)

In [ ]:
N_Cust=Xb2

# Bivariate analysis

In [ ]:
Y= A["LoanAmount"]
X=A.drop(labels=["LoanAmount","Loan_Status","Loan_ID"],axis=1)
Xb2=Xb2.drop(labels=["LoanAmount","Loan_Status","Loan_ID"],axis=1)

In [ ]:
from Wd8pm import preprocessing
Xnew2 =preprocessing(X)
Xnewb2=preprocessing(Xb2)

In [ ]:

from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest =train_test_split(Xnew2,Y,test_size=0.2,random_state=21)

# Linear Regression

# DecisionTreeRegressor

In [ ]:
from sklearn.tree import DecisionTreeRegressor
dtr = DecisionTreeRegressor(random_state=21)
model = dtr.fit(xtrain,ytrain)
tr_pred = model.predict(xtrain)
ts_pred = model.predict(xtest)
from sklearn.metrics import mean_absolute_error
tr_err = mean_absolute_error(ytrain,tr_pred)
ts_err  = mean_absolute_error(ytest,ts_pred)

tr_err,ts_err

# Pruning

In [ ]:
tg = {"max_depth":range(2,20,1)}
dtr = DecisionTreeRegressor(random_state=21)

from sklearn.model_selection import GridSearchCV
cv = GridSearchCV(dtr,tg,scoring = "neg_mean_absolute_error",cv=4)
cvmodel = cv.fit(Xnew,Y)
cvmodel.best_params_

In [ ]:
tg = {"min_samples_leaf":range(2,20,1)}
dtr = DecisionTreeRegressor(random_state=21)

from sklearn.model_selection import GridSearchCV
cv = GridSearchCV(dtr,tg,scoring = "neg_mean_absolute_error",cv=4)
cvmodel = cv.fit(Xnew,Y)
cvmodel.best_params_

In [ ]:
tg = {"min_samples_split":range(2,20,1)}
dtr = DecisionTreeRegressor(random_state=21)

from sklearn.model_selection import GridSearchCV
cv = GridSearchCV(dtr,tg,scoring = "neg_mean_absolute_error",cv=4)
cvmodel = cv.fit(Xnew,Y)
cvmodel.best_params_

Finding accuracy based on best parameters obtained for max_depth ,min_samples_split,min_samples_leaf

In [ ]:
dtr = DecisionTreeRegressor(max_depth=4)
model1 = dtr.fit(xtrain,ytrain)
tr_pred = model1.predict(xtrain)
ts_pred = model1.predict(xtest)
from sklearn.metrics import mean_absolute_error
tr_err = mean_absolute_error(ytrain,tr_pred)
ts_err  = mean_absolute_error(ytest,ts_pred)
tr_err,ts_err

In [ ]:
dtr = DecisionTreeRegressor(min_samples_split=19)
model1 = dtr.fit(xtrain,ytrain)
tr_pred = model1.predict(xtrain)
ts_pred = model1.predict(xtest)
from sklearn.metrics import mean_absolute_error
tr_err = mean_absolute_error(ytrain,tr_pred)
ts_err  = mean_absolute_error(ytest,ts_pred)
tr_err,ts_err

In [ ]:
dtr = DecisionTreeRegressor(min_samples_leaf=14)
model1 = dtr.fit(xtrain,ytrain)
tr_pred = model1.predict(xtrain)
ts_pred = model1.predict(xtest)
from sklearn.metrics import mean_absolute_error
tr_err = mean_absolute_error(ytrain,tr_pred)
ts_err  = mean_absolute_error(ytest,ts_pred)
tr_err,ts_err

# KNN Regression

In [ ]:
from sklearn.neighbors import KNeighborsRegressor
knr= KNeighborsRegressor(n_neighbors=2)

model =knr.fit(xtrain,ytrain)
tr_pred= model.predict(xtrain)
ts_pred =model.predict(xtest)
from sklearn.metrics import mean_absolute_error
tr_err= mean_absolute_error(ytrain,tr_pred)
ts_err= mean_absolute_error(ytest,ts_pred)
tr_err,ts_err

In [ ]:
tg = {"n_neighbors":range(2,10,1)}
knr = KNeighborsRegressor()

from sklearn.model_selection import GridSearchCV
cv = GridSearchCV(knr,tg,scoring = "neg_mean_absolute_error",cv=4)
cvmodel = cv.fit(Xnew,Y)
cvmodel.best_params_

In [ ]:
from sklearn.neighbors import KNeighborsRegressor
knr= KNeighborsRegressor(n_neighbors=5)

model =knr.fit(xtrain,ytrain)
tr_pred= model.predict(xtrain)
ts_pred =model.predict(xtest)
from sklearn.metrics import mean_absolute_error
tr_err= mean_absolute_error(ytrain,tr_pred)
ts_err= mean_absolute_error(ytest,ts_pred)
tr_err,ts_err

# RandomForestRegression

In [ ]:
from sklearn.ensemble import RandomForestRegressor
rfr = RandomForestRegressor(random_state=21)
model = rfr.fit(xtrain,ytrain)
tr_pred = model.predict(xtrain)
ts_pred = model.predict(xtest)
from sklearn.metrics import mean_absolute_error
tr_acc = mean_absolute_error(ytrain,tr_pred)
ts_acc  = mean_absolute_error(ytest,ts_pred)

tr_acc,ts_acc

# GridsearchCV

tg = {"max_depth":range(2,20,1),"n_estimators":range(2,200,10)}
rfc = RandomForestRegressor(random_state=21)
from sklearn.model_selection import GridSearchCV
cv = GridSearchCV(rfc,tg,scoring = "neg_mean_absolute_error",cv=4)
cvmodel = cv.fit(Xnew,Y)
cvmodel.best_params_

In [ ]:
rfr= RandomForestRegressor(random_state=21,max_depth=9,n_estimators=192)
model = rfr.fit(xtrain,ytrain)
tr_pred = model.predict(xtrain)
ts_pred = model.predict(xtest)
from sklearn.metrics import mean_absolute_error
tr_acc = mean_absolute_error(ytrain,tr_pred)
ts_acc  = mean_absolute_error(ytest,ts_pred)
tr_acc,ts_acc

# AdaBoostRegression

In [ ]:
from sklearn.ensemble import AdaBoostRegressor
from sklearn.tree import DecisionTreeRegressor

dtr = DecisionTreeRegressor(random_state=21,max_depth=2)
abr = AdaBoostRegressor(dtr,n_estimators=100)

model = abr.fit(xtrain,ytrain)
tr_pred = model.predict(xtrain)
ts_pred = model.predict(xtest)
from sklearn.metrics import accuracy_score
tr_acc = mean_absolute_error(ytrain,tr_pred)
ts_acc  = mean_absolute_error(ytest,ts_pred)

tr_acc,ts_acc

tg = {"n_estimators":range(2,30,10)}

dtr = DecisionTreeRegressor(random_state=21,max_depth=2)
abr = AdaBoostRegressor(dtr)

from sklearn.model_selection import GridSearchCV
cv = GridSearchCV(abr,tg,scoring = "accuracy",cv=4)
cvmodel = cv.fit(Xnew,Y)
cvmodel.best_params_

In [ ]:
from sklearn.ensemble import AdaBoostRegressor
from sklearn.tree import DecisionTreeRegressor

dtr = DecisionTreeRegressor(random_state=21,max_depth=2)
abr = AdaBoostRegressor(dtr,n_estimators=2)

model = abr.fit(xtrain,ytrain)
tr_pred = model.predict(xtrain)
ts_pred = model.predict(xtest)
from sklearn.metrics import accuracy_score
tr_acc = mean_absolute_error(ytrain,tr_pred)
ts_acc  = mean_absolute_error(ytest,ts_pred)

tr_acc,ts_acc

# Predicting loan amount for the customers

# KNN is best

In [ ]:
model = knr.fit(Xnew2,Y)

In [ ]:
Xnew2.columns

In [ ]:
N_Cust["Loan_amount"]=model.predict(Xnewb2)

In [ ]:
N_Cust

In [ ]:
N_Cust.to_csv("C:/Users/Suja4/OneDrive/Documents/Data Science/Dataset/submission_loan_2.csv")

# b.)if duration is less than equal to 20 years,

# is customer eligible for required amount for some longer duration? What is that duration?(Regression)

1.create a regression model from old data to predict duration .
2.choose all the Loan status with "N " and duration <20 years from predicted data 
3.predict the loan duration for chosen customers

# Bivariate analysis

In [ ]:
Y= A["Loan_Amount_Term"]
X=A.drop(labels=["Loan_Amount_Term","Loan_Status","Loan_ID"],axis=1)

Xb3=B[((B.Loan_Amount_Term<=240) & (B.Loan_Status =="N"))]

In [ ]:
Xb3.shape

In [ ]:
Xb3.index=range(0,7)

In [ ]:
D_cust=Xb3

In [ ]:
Xb3=Xb3.drop(labels=["Loan_Amount_Term","Loan_ID","Loan_Status"],axis=1)

In [ ]:
imp_cols

In [ ]:
from Wd8pm import preprocessing
Xnew3 =preprocessing(X)
Xnewb3=preprocessing(Xb3)

In [ ]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest =train_test_split(Xnew3,Y,test_size=0.2,random_state=21)

# Linear Regression

Forward propagation

# KNN regression

In [ ]:
from sklearn.neighbors import KNeighborsRegressor
knr= KNeighborsRegressor(n_neighbors=2)

model =knr.fit(xtrain,ytrain)
tr_pred= model.predict(xtrain)
ts_pred =model.predict(xtest)
from sklearn.metrics import mean_absolute_error
tr_err= mean_absolute_error(ytrain,tr_pred)
ts_err= mean_absolute_error(ytest,ts_pred)
tr_err,ts_err

In [ ]:
tg = {"n_neighbors":range(2,10,1)}
knr = KNeighborsRegressor()

from sklearn.model_selection import GridSearchCV
cv = GridSearchCV(knr,tg,scoring = "neg_mean_absolute_error",cv=4)
cvmodel = cv.fit(Xnew,Y)
cvmodel.best_params_

In [ ]:
from sklearn.neighbors import KNeighborsRegressor
knr= KNeighborsRegressor(n_neighbors=2)

model =knr.fit(xtrain,ytrain)
tr_pred= model.predict(xtrain)
ts_pred =model.predict(xtest)
from sklearn.metrics import mean_absolute_error
tr_err= mean_absolute_error(ytrain,tr_pred)
ts_err= mean_absolute_error(ytest,ts_pred)
tr_err,ts_err

# DecisionTreeRegressor

In [ ]:

from sklearn.tree import DecisionTreeRegressor
dtr = DecisionTreeRegressor(random_state=21)
model = dtr.fit(xtrain,ytrain)
tr_pred = model.predict(xtrain)
ts_pred = model.predict(xtest)
from sklearn.metrics import mean_absolute_error
tr_err = mean_absolute_error(ytrain,tr_pred)
ts_err  = mean_absolute_error(ytest,ts_pred)

tr_err,ts_err

# Pruning

In [ ]:
tg = {"max_depth":range(2,20,1)}
dtr = DecisionTreeRegressor(random_state=21)

from sklearn.model_selection import GridSearchCV
cv = GridSearchCV(dtr,tg,scoring = "neg_mean_absolute_error",cv=4)
cvmodel = cv.fit(Xnew,Y)
cvmodel.best_params_

In [ ]:
tg = {"min_samples_leaf":range(2,20,1)}
dtr = DecisionTreeRegressor(random_state=21)

from sklearn.model_selection import GridSearchCV
cv = GridSearchCV(dtr,tg,scoring = "neg_mean_absolute_error",cv=4)
cvmodel = cv.fit(Xnew,Y)
cvmodel.best_params_

In [ ]:
tg = {"min_samples_split":range(2,20,1)}
dtr = DecisionTreeRegressor(random_state=21)

from sklearn.model_selection import GridSearchCV
cv = GridSearchCV(dtr,tg,scoring = "neg_mean_absolute_error",cv=4)
cvmodel = cv.fit(Xnew,Y)
cvmodel.best_params_

In [ ]:
dtr = DecisionTreeRegressor(min_samples_split=2)
model1 = dtr.fit(xtrain,ytrain)
tr_pred = model1.predict(xtrain)
ts_pred = model1.predict(xtest)
from sklearn.metrics import mean_absolute_error
tr_err = mean_absolute_error(ytrain,tr_pred)
ts_err  = mean_absolute_error(ytest,ts_pred)
tr_err,ts_err

In [ ]:
dtr = DecisionTreeRegressor(min_samples_leaf=2)
model1 = dtr.fit(xtrain,ytrain)
tr_pred = model1.predict(xtrain)
ts_pred = model1.predict(xtest)
from sklearn.metrics import mean_absolute_error
tr_err = mean_absolute_error(ytrain,tr_pred)
ts_err  = mean_absolute_error(ytest,ts_pred)
tr_err,ts_err

In [ ]:
dtr = DecisionTreeRegressor(max_depth=2)
model1 = dtr.fit(xtrain,ytrain)
tr_pred = model1.predict(xtrain)
ts_pred = model1.predict(xtest)
from sklearn.metrics import mean_absolute_error
tr_err = mean_absolute_error(ytrain,tr_pred)
ts_err  = mean_absolute_error(ytest,ts_pred)
tr_err,ts_err

# RandomForest

In [ ]:
from sklearn.ensemble import RandomForestRegressor
rfr = RandomForestRegressor(random_state=21)
model = rfr.fit(xtrain,ytrain)
tr_pred = model.predict(xtrain)
ts_pred = model.predict(xtest)
from sklearn.metrics import mean_absolute_error
tr_acc = mean_absolute_error(ytrain,tr_pred)
ts_acc  = mean_absolute_error(ytest,ts_pred)

tr_acc,ts_acc

tg = {"max_depth":range(2,20,1),"n_estimators":range(2,200,10)}
rfc = RandomForestRegressor(random_state=21)
from sklearn.model_selection import GridSearchCV
cv = GridSearchCV(rfc,tg,scoring = "neg_mean_absolute_error",cv=4)
cvmodel = cv.fit(Xnew,Y)
cvmodel.best_params_

In [ ]:
rfr = RandomForestRegressor(random_state=21,max_depth=3,n_estimators=12)
model = rfr.fit(xtrain,ytrain)
tr_pred = model.predict(xtrain)
ts_pred = model.predict(xtest)
from sklearn.metrics import mean_absolute_error
tr_acc = mean_absolute_error(ytrain,tr_pred)
ts_acc  = mean_absolute_error(ytest,ts_pred)

tr_acc,ts_acc

# Adaboost

In [ ]:
from sklearn.ensemble import AdaBoostRegressor
from sklearn.tree import DecisionTreeRegressor
abr = AdaBoostRegressor(DecisionTreeRegressor(random_state=21,max_depth=2),n_estimators=40)
model = abr.fit(xtrain,ytrain)
tr_pred = model.predict(xtrain)
ts_pred = model.predict(xtest)
from sklearn.metrics import mean_absolute_error
tr_err = mean_absolute_error(ytrain,tr_pred)
ts_err  = mean_absolute_error(ytest,ts_pred)
tr_err,ts_err

tg = {"n_estimators":range(2,30,10)}

dtr = DecisionTreeRegressor(random_state=21,max_depth=2)
abr = AdaBoostRegressor(dtr)

from sklearn.model_selection import GridSearchCV
cv = GridSearchCV(abr,tg,scoring = "accuracy",cv=4)
cvmodel = cv.fit(Xnew,Y)
cvmodel.best_params_

In [ ]:
from sklearn.ensemble import AdaBoostRegressor
from sklearn.tree import DecisionTreeRegressor
abr = AdaBoostRegressor(DecisionTreeRegressor(random_state=21,max_depth=2),n_estimators=2)
model = abr.fit(xtrain,ytrain)
tr_pred = model.predict(xtrain)
ts_pred = model.predict(xtest)
from sklearn.metrics import mean_absolute_error
tr_err = mean_absolute_error(ytrain,tr_pred)
ts_err  = mean_absolute_error(ytest,ts_pred)
tr_err,ts_err

# Predict duration for customers

# Linear Regression is best

In [ ]:

model =abr.fit(Xnew3,Y)

In [ ]:
len(Xnew3.columns),len(Xnewb3.columns)

In [ ]:
Xnew3.columns

In [ ]:
Xnewb3.columns

In [ ]:
Xnewb3["Self_Employed_Yes"]=0
Xnewb3["Gender_Female"]=0
Xnewb3["Dependents_1"]=0

In [ ]:
D_cust["Loan_Amount_Term "]=model.predict(Xnewb3)

In [ ]:
D_cust

In [ ]:
D_cust.to_csv("C:/Users/Suja4/OneDrive/Documents/Data Science/Dataset/submission_loan_3.csv")