A Company wants to automate the loan eligibility process based on customer details provided while filling online application form. The details filled by the customer are Gender, Marital Status, Education, Number of Dependents, Income of self and co applicant, Required Loan Amount, Required Loan Term, Credit History and others. The requirements are as follows:

# 1.)Check eligibility of the Customer given the inputs described above.(Classification)

In [1]:

from warnings import filterwarnings 
filterwarnings("ignore")

# Read Data

In [2]:
import pandas as pd
A=pd.read_csv("C:/Users/Suja4/OneDrive/Documents/Data Science/Loan_project/training_set.csv")
B=pd.read_csv("C:/Users/Suja4/OneDrive/Documents/Data Science/Loan_project/testing_set.csv")

In [3]:
A

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849.0,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,NaN,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000.0,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583.0,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000.0,0.0,141.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,Female,No,0,Graduate,No,2900.0,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106.0,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072.0,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583.0,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583.0,0.0,133.0,360.0,0.0,Semiurban,N

# Missing Data Treatment

In [4]:
A.isna().sum()

Loan_ID               0
Gender               15
Married               3
Dependents           15
Education             1
Self_Employed        32
ApplicantIncome       2
CoapplicantIncome     1
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [5]:
B.isna().sum()

Loan_ID               0
Gender               11
Married               0
Dependents           10
Education             0
Self_Employed        23
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            5
Loan_Amount_Term      6
Credit_History       29
Property_Area         0
dtype: int64

In [6]:
from Wd8pm import replacer
replacer(A)

In [7]:
x = A['Gender'].mode()[0]
B['Gender'] = B['Gender'].fillna(x)

In [8]:
x = A['Dependents'].mode()[0]
B['Dependents'] = B['Dependents'].fillna(x)

In [9]:
x = A['Self_Employed'].mode()[0]
B['Self_Employed'] = B['Self_Employed'].fillna(x)

In [10]:
x = round(A['LoanAmount'].mean(),2)
B['LoanAmount'] = B['LoanAmount'].fillna(x)

In [11]:
x = round(A['Loan_Amount_Term'].mean(),2)
B['Loan_Amount_Term'] = B['Loan_Amount_Term'].fillna(x)

In [12]:
x =A['Credit_History'].mode()[0]
B['Credit_History']= B['Credit_History'].fillna(x)

In [13]:
A.isna().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [14]:
B.isna().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
dtype: int64

# Unique values

In [15]:
A.nunique()

Loan_ID              614
Gender                 2
Married                2
Dependents             4
Education              2
Self_Employed          2
ApplicantIncome      505
CoapplicantIncome    287
LoanAmount           204
Loan_Amount_Term      11
Credit_History         3
Property_Area          3
Loan_Status            2
dtype: int64

In [16]:
B.nunique()

Loan_ID              367
Gender                 2
Married                2
Dependents             4
Education              2
Self_Employed          2
ApplicantIncome      314
CoapplicantIncome    194
LoanAmount           145
Loan_Amount_Term      13
Credit_History         2
Property_Area          3
dtype: int64

# Outliers removal

#too many outliers

In [17]:
from Wd8pm import OL
outlier=OL(A)

In [18]:
outlier

[9,
 14,
 68,
 94,
 126,
 130,
 133,
 155,
 171,
 177,
 183,
 185,
 242,
 262,
 278,
 308,
 313,
 333,
 369,
 402,
 409,
 417,
 432,
 443,
 487,
 495,
 497,
 506,
 523,
 525,
 546,
 561,
 575,
 581,
 585,
 600,
 604]

In [19]:
A=A.drop(index=outlier,axis=0)

In [20]:
A.shape

(577, 13)

In [21]:
A.index=range(0,577)

# Bivariate Analysis

In [22]:
Y= A["Loan_Status"]
X=A.drop(labels=["Loan_Status","Loan_ID"],axis=1)
Xb=B.drop(labels=["Loan_ID"],axis=1)

# Anova and chisquare

In [23]:
imp_cols = []
from Wd8pm import ANOVA,chisq
for i in X.columns:
    if(X[i].dtypes == "object"):
        pval = chisq(A,"Loan_Status",i)
        print("Loan_Status ~",i,"---->",pval)
        if(pval<0.5):
            imp_cols.append(i)
    else:
        pval = ANOVA(A,"Loan_Status",i)
        print("Loan_Status ~",i,"---->",pval)
        if(pval<0.5):
            imp_cols.append(i)

Loan_Status ~ Gender ----> 0.76236
Loan_Status ~ Married ----> 0.04094
Loan_Status ~ Dependents ----> 0.58265
Loan_Status ~ Education ----> 0.03415
Loan_Status ~ Self_Employed ----> 0.61581
Loan_Status ~ ApplicantIncome ----> 0.89434
Loan_Status ~ CoapplicantIncome ----> 0.28206
Loan_Status ~ LoanAmount ----> 0.3975
Loan_Status ~ Loan_Amount_Term ----> 0.66362
Loan_Status ~ Credit_History ----> 0.0
Loan_Status ~ Property_Area ----> 0.00232

In [24]:
imp_cols

['Married',
 'Education',
 'CoapplicantIncome',
 'LoanAmount',
 'Credit_History',
 'Property_Area']

# Preprocessing

In [25]:
Ximp = X[imp_cols]
Xbimp=Xb[imp_cols]
from Wd8pm import preprocessing
Xnew =preprocessing(Ximp)
Xnewb=preprocessing(Xbimp)

In [26]:
Xnew

,CoapplicantIncome,LoanAmount,Credit_History,Married_No,Married_Yes,Education_Graduate,Education_Not Graduate,Property_Area_Rural,Property_Area_Semiurban,Property_Area_Urban
0,-0.860843,0.184585,0.456461,1,0,1,0,0,0,1
1,0.053073,-0.143355,0.456461,0,1,1,0,1,0,0
2,-0.860843,-1.247642,0.456461,0,1,1,0,0,0,1
3,0.568211,-0.285844,0.456461,0,1,0,1,0,0,1
4,-0.860843,0.088189,0.456461,1,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...
572,-0.860843,-1.158587,0.456461,1,0,1,0,1,0,0
573,-0.860843,-1.710730,0.456461,0,1,1,0,1,0,0
574,-0.715392,2.083030,0.456461,0,1,1,0,0,0,1
575,-0.860843,0.907499,0.456461,0,1,1,0,0,0,1
576,-0.860843,-0.054300,-2.372488,1,0,1,0,0,1,0

In [27]:
Xnewb

,CoapplicantIncome,LoanAmount,Credit_History,Married_No,Married_Yes,Education_Graduate,Education_Not Graduate,Property_Area_Rural,Property_Area_Semiurban,Property_Area_Urban
0,-0.673335,-0.431586,0.437674,0,1,1,0,0,0,1
1,-0.029848,-0.168750,0.437674,0,1,1,0,0,0,1
2,0.098849,1.178281,0.437674,0,1,1,0,0,0,1
3,0.418877,-0.595858,0.437674,0,1,1,0,0,0,1
4,-0.673335,-0.957256,0.437674,1,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...
362,0.088982,-0.382304,0.437674,0,1,0,1,0,0,1
363,-0.369180,-0.349450,0.437674,0,1,1,0,0,0,1
364,0.181644,-0.168750,0.437674,1,0,1,0,0,1,0
365,0.353241,0.356920,0.437674,0,1,1,0,1,0,0
366,-0.673335,-0.628712,0.437674,1,0,1,0,1,0,0

# Splitting

In [28]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(Xnew,Y,test_size=0.2,random_state=21)

# Model1  Logistic Regression

In [29]:
from sklearn.linear_model import LogisticRegression
lr=LogisticRegression()
model=lr.fit(xtrain,ytrain)

# Prediction

In [30]:
tr_pred= model.predict(xtrain)
ts_pred=model.predict(xtest)

In [31]:
from sklearn.metrics import accuracy_score,confusion_matrix
accuracy_score(ytrain,tr_pred) ,accuracy_score(ytest,ts_pred)

(0.806941431670282, 0.8362068965517241)

In [32]:
from sklearn.metrics import confusion_matrix,recall_score
confusion_matrix(ytrain,tr_pred)

array([[ 63,  81],
       [  8, 309]], dtype=int64)

In [33]:
confusion_matrix(ytest,ts_pred)

array([[17, 18],
       [ 1, 80]], dtype=int64)

# Bivariate analysis for other models

In [34]:
Y= A["Loan_Status"]
X=A.drop(labels=["Loan_Status","Loan_ID"],axis=1)
Xb=B.drop(labels=["Loan_ID"],axis=1)

In [35]:
from Wd8pm import catcon
cat,con= catcon(X)
catb,conb= catcon(Xb)

In [36]:
from Wd8pm import catcon

Xnew = pd.get_dummies(X[cat]).join(X[con])


Xnewb = pd.get_dummies(Xb[catb]).join(Xb[conb])

In [37]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(Xnew,Y,test_size=0.2,random_state=21)

# Model 2 KNN classification

In [38]:
from sklearn.neighbors import KNeighborsClassifier
knc = KNeighborsClassifier(n_neighbors=5)

model = knc.fit(xtrain,ytrain)
tr_pred = model.predict(xtrain)
ts_pred = model.predict(xtest)
from sklearn.metrics import accuracy_score
tr_acc = accuracy_score(ytrain,tr_pred)
ts_acc = accuracy_score(ytest,ts_pred)
tr_acc,ts_acc

(0.7592190889370932, 0.5775862068965517)

In [39]:
from sklearn.metrics import confusion_matrix
confusion_matrix(ytrain,tr_pred)

array([[ 54,  90],
       [ 21, 296]], dtype=int64)

# Gridsearch CV

In [40]:
tg = {"n_neighbors":range(2,10,1)}
knc = KNeighborsClassifier()

from sklearn.model_selection import GridSearchCV
cv = GridSearchCV(knc,tg,scoring = "accuracy",cv=4)
cvmodel = cv.fit(Xnew,Y)
cvmodel.best_params_

{'n_neighbors': 9}

In [41]:
from sklearn.neighbors import KNeighborsClassifier
knc = KNeighborsClassifier(n_neighbors=9)

model = knc.fit(xtrain,ytrain)
tr_pred = model.predict(xtrain)
ts_pred = model.predict(xtest)
from sklearn.metrics import accuracy_score
tr_acc = accuracy_score(ytrain,tr_pred)
ts_acc = accuracy_score(ytest,ts_pred)
tr_acc,ts_acc

(0.7223427331887202, 0.6379310344827587)

In [42]:
from sklearn.metrics import confusion_matrix
confusion_matrix(ytrain,tr_pred)

array([[ 36, 108],
       [ 20, 297]], dtype=int64)

false positive is more

# Model3 Desicion Tree classifier

In [43]:
from sklearn.tree import DecisionTreeClassifier
dtc=DecisionTreeClassifier(criterion="entropy",random_state=21)
model=dtc.fit(xtrain,ytrain)
tr_pred=dtc.predict(xtrain)
ts_pred=dtc.predict(xtest)

In [44]:
tr_acc = accuracy_score(ytrain,tr_pred)
ts_acc = accuracy_score(ytest,ts_pred)
tr_acc,ts_acc

(1.0, 0.7413793103448276)

# Pruning

In [45]:
from sklearn.model_selection import GridSearchCV

tg = {"criterion":["entropy","gini"],"max_depth":range(2,15,1)}
dtc = DecisionTreeClassifier(random_state=21)
cv = GridSearchCV(dtc,tg,scoring="accuracy",cv=4)
cvmodel = cv.fit(Xnew,Y)
cvmodel.best_params_

{'criterion': 'entropy', 'max_depth': 2}

In [46]:
from sklearn.model_selection import GridSearchCV

tg = {"criterion":["entropy","gini"],"min_samples_leaf":range(2,15,1)}
dtc = DecisionTreeClassifier(random_state=21)
cv = GridSearchCV(dtc,tg,scoring="accuracy",cv=4)
cvmodel = cv.fit(Xnew,Y)
cvmodel.best_params_

{'criterion': 'entropy', 'min_samples_leaf': 9}

In [47]:
from sklearn.model_selection import GridSearchCV

tg = {"criterion":["entropy","gini"],"min_samples_split":range(2,15,1)}
dtc = DecisionTreeClassifier(random_state=21)
cv = GridSearchCV(dtc,tg,scoring="accuracy",cv=4)
cvmodel = cv.fit(Xnew,Y)
cvmodel.best_params_

{'criterion': 'entropy', 'min_samples_split': 11}

# Finding accuracy based on best parameters obtained for max_depth ,min_samples_split,min_samples_leaf

In [48]:
dtc = DecisionTreeClassifier(min_samples_split=11)
model1 = dtc.fit(xtrain,ytrain)
tr_pred = model1.predict(xtrain)
ts_pred = model1.predict(xtest)
from sklearn.metrics import accuracy_score
tr_acc = accuracy_score(ytrain,tr_pred)
ts_acc  = accuracy_score(ytest,ts_pred)
tr_acc,ts_acc

(0.9002169197396963, 0.7413793103448276)

In [49]:
dtc = DecisionTreeClassifier(min_samples_leaf=9)
model2 = dtc.fit(xtrain,ytrain)
tr_pred = model2.predict(xtrain)
ts_pred = model2.predict(xtest)
from sklearn.metrics import accuracy_score
tr_acc = accuracy_score(ytrain,tr_pred)
ts_acc  = accuracy_score(ytest,ts_pred)
tr_accr,ts_acc

(0.8329718004338394, 0.7413793103448276)

In [50]:
dtc = DecisionTreeClassifier(max_depth=2)
model3 = dtc.fit(xtrain,ytrain)
tr_pred = model3.predict(xtrain)
ts_pred = model3.predict(xtest)
from sklearn.metrics import accuracy_score
tr_acc = accuracy_score(ytrain,tr_pred)
ts_acc  = accuracy_score(ytest,ts_pred)
tr_acc,ts_acc

(0.8134490238611713, 0.8362068965517241)

# Model 4 Random Forest

In [51]:
from sklearn.ensemble import RandomForestClassifier
rfr = RandomForestClassifier(random_state=21)
model = rfr.fit(xtrain,ytrain)
tr_pred = model.predict(xtrain)
ts_pred = model.predict(xtest)
from sklearn.metrics import accuracy_score
tr_acc = accuracy_score(ytrain,tr_pred)
ts_acc  = accuracy_score(ytest,ts_pred)

tr_acc,ts_acc

(1.0, 0.8189655172413793)

tg = {"max_depth":range(2,20,1),"n_estimators":range(2,200,10)}
rfc = RandomForestClassifier(random_state=21)
from sklearn.model_selection import GridSearchCV
cv = GridSearchCV(rfc,tg,scoring = "accuracy",cv=4)
cvmodel = cv.fit(Xnew,Y)
cvmodel.best_params_

In [52]:
rfc = RandomForestClassifier(random_state=21,max_depth=6,n_estimators=22)
model = rfc.fit(Xnew,Y)
tr_pred = model.predict(xtrain)
ts_pred = model.predict(xtest)
from sklearn.metrics import accuracy_score
tr_acc = accuracy_score(ytrain,tr_pred)
ts_acc  = accuracy_score(ytest,ts_pred)

tr_acc,ts_acc

(0.8394793926247288, 0.8448275862068966)

# Model 5 Adaboost

In [53]:
from sklearn.ensemble import AdaBoostClassifier
from sklearn.tree import DecisionTreeClassifier

dtc = DecisionTreeClassifier(random_state=21,max_depth=2)
abc = AdaBoostClassifier(dtc,n_estimators=100)

model = abc.fit(xtrain,ytrain)
tr_pred = model.predict(xtrain)
ts_pred = model.predict(xtest)
from sklearn.metrics import accuracy_score
tr_acc = accuracy_score(ytrain,tr_pred)
ts_acc  = accuracy_score(ytest,ts_pred)

tr_acc,ts_acc

(1.0, 0.7586206896551724)

In [54]:
tg = {"n_estimators":range(2,100,10)}

dtc = DecisionTreeClassifier(random_state=21,max_depth=2)
abc = AdaBoostClassifier(dtc)

from sklearn.model_selection import GridSearchCV
cv = GridSearchCV(abc,tg,scoring = "accuracy",cv=4)
cvmodel = cv.fit(Xnew,Y)
cvmodel.best_params_

{'n_estimators': 2}

In [55]:
abc = AdaBoostClassifier(dtc,n_estimators=2)

model = abc.fit(xtrain,ytrain)
tr_pred = model.predict(xtrain)
ts_pred = model.predict(xtest)
from sklearn.metrics import accuracy_score
tr_acc = accuracy_score(ytrain,tr_pred)
ts_acc  = accuracy_score(ytest,ts_pred)
tr_acc,ts_acc

(0.8221258134490239, 0.8275862068965517)

# Adaboost is  the best model

In [56]:
model = abc.fit(Xnew,Y)
ts_pred=model.predict(Xnewb)

In [57]:
Xnewb.shape

(367, 20)

In [58]:
B.shape

(367, 12)

In [59]:
B["Loan_Status"]=ts_pred

In [60]:
B

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001015,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban,Y
1,LP001022,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban,Y
2,LP001031,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.0,Urban,Y
3,LP001035,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,1.0,Urban,Y
4,LP001051,Male,No,0,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
362,LP002971,Male,Yes,3+,Not Graduate,Yes,4009,1777,113.0,360.0,1.0,Urban,Y
363,LP002975,Male,Yes,0,Graduate,No,4158,709,115.0,360.0,1.0,Urban,Y
364,LP002980,Male,No,0,Graduate,No,3250,1993,126.0,360.0,1.0,Semiurban,Y
365,LP002986,Male,Yes,0,Graduate,No,5000,2393,158.0,360.0,1.0,Rural,Y
366,LP002989,Male,No,0,Graduate,Yes,9200,0,98.0,180.0,1.0,Rural,Y

In [61]:
B.to_csv("C:/Users/Suja4/OneDrive/Documents/Data Science/Dataset/submission_loan_1.csv")

# Second Question

# 3.)If customer is not eligible for the input required amount and duration:

# a.)what can be amount for the given duration.(Regression)
1.create a regression model to predict loan amount .
2.use the earlier predicted data and predict the loan amount for all customers with 
loan_status="N"

In [62]:
Xb2=B[(B.Loan_Status=="N")]

In [63]:
Xb2.shape

(62, 13)

In [64]:
Xb2.index=range(0,62)

In [65]:
N_Cust=Xb2

# Bivariate analysis

In [66]:
Y= A["LoanAmount"]
X=A.drop(labels=["LoanAmount","Loan_Status","Loan_ID"],axis=1)
Xb2=Xb2.drop(labels=["LoanAmount","Loan_Status","Loan_ID"],axis=1)

from Wd8pm import preprocessing
Xnew2 =preprocessing(X)
Xnewb2=preprocessing(Xb2)

In [67]:

from Wd8pm import catcon
cat,con= catcon(X)
catb,conb= catcon(Xb2)

from Wd8pm import catcon

Xnew2 = pd.get_dummies(X[cat]).join(X[con])


Xnewb2 = pd.get_dummies(Xb2[catb]).join(Xb2[conb])

In [68]:

from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest =train_test_split(Xnew2,Y,test_size=0.2,random_state=21)

# DecisionTreeRegressor

In [69]:
from sklearn.tree import DecisionTreeRegressor
dtr = DecisionTreeRegressor(random_state=21)
model = dtr.fit(xtrain,ytrain)
tr_pred = model.predict(xtrain)
ts_pred = model.predict(xtest)
from sklearn.metrics import mean_absolute_error
tr_err = mean_absolute_error(ytrain,tr_pred)
ts_err  = mean_absolute_error(ytest,ts_pred)

tr_err,ts_err

(0.06073752711496746, 43.291589002795895)

# Pruning

In [70]:
tg = {"max_depth":range(2,20,1)}
dtr = DecisionTreeRegressor(random_state=21)

from sklearn.model_selection import GridSearchCV
cv = GridSearchCV(dtr,tg,scoring = "neg_mean_absolute_error",cv=4)
cvmodel = cv.fit(Xnew2,Y)
cvmodel.best_params_

{'max_depth': 4}

In [71]:
tg = {"min_samples_leaf":range(2,20,1)}
dtr = DecisionTreeRegressor(random_state=21)

from sklearn.model_selection import GridSearchCV
cv = GridSearchCV(dtr,tg,scoring = "neg_mean_absolute_error",cv=4)
cvmodel = cv.fit(Xnew2,Y)
cvmodel.best_params_

{'min_samples_leaf': 14}

In [72]:
tg = {"min_samples_split":range(2,20,1)}
dtr = DecisionTreeRegressor(random_state=21)

from sklearn.model_selection import GridSearchCV
cv = GridSearchCV(dtr,tg,scoring = "neg_mean_absolute_error",cv=4)
cvmodel = cv.fit(Xnew2,Y)
cvmodel.best_params_

{'min_samples_split': 19}

Finding accuracy based on best parameters obtained for max_depth ,min_samples_split,min_samples_leaf

In [73]:
dtr = DecisionTreeRegressor(max_depth=4)
model1 = dtr.fit(xtrain,ytrain)
tr_pred = model1.predict(xtrain)
ts_pred = model1.predict(xtest)
from sklearn.metrics import mean_absolute_error
tr_err = mean_absolute_error(ytrain,tr_pred)
ts_err  = mean_absolute_error(ytest,ts_pred)
tr_err,ts_err

(27.65043943987281, 37.97196681148321)

In [74]:
dtr = DecisionTreeRegressor(min_samples_split=19)
model1 = dtr.fit(xtrain,ytrain)
tr_pred = model1.predict(xtrain)
ts_pred = model1.predict(xtest)
from sklearn.metrics import mean_absolute_error
tr_err = mean_absolute_error(ytrain,tr_pred)
ts_err  = mean_absolute_error(ytest,ts_pred)
tr_err,ts_err

(22.27938317791578, 39.661953107206976)

In [75]:
dtr = DecisionTreeRegressor(min_samples_leaf=14)
model1 = dtr.fit(xtrain,ytrain)
tr_pred = model1.predict(xtrain)
ts_pred = model1.predict(xtest)
from sklearn.metrics import mean_absolute_error
tr_err = mean_absolute_error(ytrain,tr_pred)
ts_err  = mean_absolute_error(ytest,ts_pred)
tr_err,ts_err

(26.918474940796283, 36.907560404090326)

# KNN Regression

In [76]:
from sklearn.neighbors import KNeighborsRegressor
knr= KNeighborsRegressor(n_neighbors=2)

model =knr.fit(xtrain,ytrain)
tr_pred= model.predict(xtrain)
ts_pred =model.predict(xtest)
from sklearn.metrics import mean_absolute_error
tr_err= mean_absolute_error(ytrain,tr_pred)
ts_err= mean_absolute_error(ytest,ts_pred)
tr_err,ts_err

(21.190706161693146, 39.796394454799625)

In [77]:
tg = {"n_neighbors":range(2,10,1)}
knr = KNeighborsRegressor()

from sklearn.model_selection import GridSearchCV
cv = GridSearchCV(knr,tg,scoring = "neg_mean_absolute_error",cv=4)
cvmodel = cv.fit(Xnew2,Y)
cvmodel.best_params_

{'n_neighbors': 8}

In [78]:
from sklearn.neighbors import KNeighborsRegressor
knr= KNeighborsRegressor(n_neighbors=8)

model =knr.fit(xtrain,ytrain)
tr_pred= model.predict(xtrain)
ts_pred =model.predict(xtest)
from sklearn.metrics import mean_absolute_error
tr_err= mean_absolute_error(ytrain,tr_pred)
ts_err= mean_absolute_error(ytest,ts_pred)
tr_err,ts_err

(26.916760714076336, 34.71236457362535)

# RandomForestRegression

In [79]:
from sklearn.ensemble import RandomForestRegressor
rfr = RandomForestRegressor(random_state=21)
model = rfr.fit(xtrain,ytrain)
tr_pred = model.predict(xtrain)
ts_pred = model.predict(xtest)
from sklearn.metrics import mean_absolute_error
tr_err = mean_absolute_error(ytrain,tr_pred)
ts_err  = mean_absolute_error(ytest,ts_pred)

tr_err,ts_err

(11.992219421156515, 35.694469749922334)

In [80]:
tg = {"max_depth":range(2,20,1),"n_estimators":range(2,200,10)}
rfr = RandomForestRegressor(random_state=21)
from sklearn.model_selection import GridSearchCV
cv = GridSearchCV(rfr,tg,scoring = "neg_mean_absolute_error",cv=4)
cvmodel = cv.fit(Xnew2,Y)
cvmodel.best_params_

{'max_depth': 5, 'n_estimators': 82}

In [120]:
rfr = RandomForestRegressor(random_state=21,max_depth=5,n_estimators=82)
model = rfr.fit(xtrain,ytrain)
tr_pred = model.predict(xtrain)
ts_pred = model.predict(xtest)
from sklearn.metrics import mean_absolute_error
tr_err = mean_absolute_error(ytrain,tr_pred)
ts_err  = mean_absolute_error(ytest,ts_pred)

tr_err,ts_err

(19.707376998075908, 28.62713589591203)

# AdaBoostRegression

In [82]:
from sklearn.ensemble import AdaBoostRegressor
from sklearn.tree import DecisionTreeRegressor

dtr = DecisionTreeRegressor(random_state=21,max_depth=2)
abr = AdaBoostRegressor(dtr,n_estimators=100)

model = abr.fit(xtrain,ytrain)
tr_pred = model.predict(xtrain)
ts_pred = model.predict(xtest)
from sklearn.metrics import accuracy_score
tr_err = mean_absolute_error(ytrain,tr_pred)
ts_err  = mean_absolute_error(ytest,ts_pred)

tr_err,ts_err

(32.02991552732978, 37.00473903179636)

tg = {"n_estimators":range(2,30,10)}

dtr = DecisionTreeRegressor(random_state=21,max_depth=2)
abr = AdaBoostRegressor(dtr)

from sklearn.model_selection import GridSearchCV
cv = GridSearchCV(abr,tg,scoring = "accuracy",cv=4)
cvmodel = cv.fit(Xnew,Y)
cvmodel.best_params_

In [83]:
from sklearn.ensemble import AdaBoostRegressor
from sklearn.tree import DecisionTreeRegressor

dtr = DecisionTreeRegressor(random_state=21,max_depth=2)
abr = AdaBoostRegressor(dtr,n_estimators=2)

model = abr.fit(xtrain,ytrain)
tr_pred = model.predict(xtrain)
ts_pred = model.predict(xtest)
from sklearn.metrics import accuracy_score
tr_err = mean_absolute_error(ytrain,tr_pred)
ts_err  = mean_absolute_error(ytest,ts_pred)

tr_err,ts_err

(34.47693074524014, 36.2701301803484)

# Predicting loan amount for the customers

# Adaboost is best

In [121]:
model = abr.fit(Xnew2,Y)

In [122]:
Xnew2.columns

Index(['Gender_Female', 'Gender_Male', 'Married_No', 'Married_Yes',
       'Dependents_0', 'Dependents_1', 'Dependents_2', 'Dependents_3+',
       'Education_Graduate', 'Education_Not Graduate', 'Self_Employed_No',
       'Self_Employed_Yes', 'Property_Area_Rural', 'Property_Area_Semiurban',
       'Property_Area_Urban', 'ApplicantIncome', 'CoapplicantIncome',
       'Loan_Amount_Term', 'Credit_History'],
      dtype='object')

In [123]:
N_Cust["Loan_amount"]=model.predict(Xnewb2)

In [124]:
N_Cust

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status,Loan_amount
0,LP001056,Male,Yes,2,Not Graduate,No,3881,0,147.0,360.0,0.0,Rural,N,358.886598
1,LP001094,Male,Yes,2,Graduate,No,12173,0,166.0,360.0,0.0,Semiurban,N,358.886598
2,LP001203,Male,No,0,Graduate,No,3150,0,176.0,360.0,0.0,Semiurban,N,358.886598
3,LP001313,Male,No,0,Graduate,No,2750,0,130.0,360.0,0.0,Urban,N,358.886598
4,LP001323,Female,Yes,2,Graduate,No,2779,3664,176.0,360.0,0.0,Semiurban,N,358.886598
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,LP002774,Male,Yes,0,Not Graduate,No,1700,2900,67.0,360.0,0.0,Urban,N,358.886598
58,LP002802,Male,No,0,Graduate,No,2875,2416,95.0,6.0,0.0,Semiurban,N,182.500000
59,LP002858,Female,No,0,Graduate,No,4333,2333,162.0,360.0,0.0,Rural,N,358.886598
60,LP002879,Male,Yes,0,Graduate,No,3391,1966,133.0,360.0,0.0,Rural,N,358.886598
61,LP002921,Male,Yes,3+,Not Graduate,No,5316,187,158.0,180.0,0.0,Semiurban,N,182.500000

In [125]:
N_Cust.to_csv("C:/Users/Suja4/OneDrive/Documents/Data Science/Dataset/submission_loan_2.csv")

# b.)if duration is less than equal to 20 years,

# is customer eligible for required amount for some longer duration? What is that duration?(Regression)

1.create a regression model from old data to predict duration .
2.choose all the Loan status with "N " and duration <20 years from predicted data 
3.predict the loan duration for chosen customers

# Bivariate analysis

In [126]:
Y= A["Loan_Amount_Term"]
X=A.drop(labels=["Loan_Amount_Term","Loan_Status","Loan_ID"],axis=1)
B=pd.read_csv("C:/Users/Suja4/OneDrive/Documents/Data Science/Dataset/submission_loan_NN_1.csv")
Xb3=B[((B.Loan_Amount_Term<=240) & (B.Loan_Status =="N"))]

In [127]:
B.shape

(367, 14)

In [128]:
Xb3.shape

(34, 14)

In [129]:
Xb3.index=range(0,34)

In [130]:
D_cust=Xb3

In [131]:
Xb3=Xb3.drop(labels=["Loan_Amount_Term","Loan_ID","Loan_Status"],axis=1)

In [132]:
from Wd8pm import catcon
cat,con= catcon(X)
catb,conb= catcon(Xb3)

from Wd8pm import catcon

Xnew3 = pd.get_dummies(X[cat]).join(X[con])


Xnewb3 = pd.get_dummies(Xb3[catb]).join(Xb3[conb])

In [133]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest =train_test_split(Xnew3,Y,test_size=0.2,random_state=21)

# KNN regression

In [134]:
from sklearn.neighbors import KNeighborsRegressor
knr= KNeighborsRegressor(n_neighbors=2)

model =knr.fit(xtrain,ytrain)
tr_pred= model.predict(xtrain)
ts_pred =model.predict(xtest)
from sklearn.metrics import mean_absolute_error
tr_err= mean_absolute_error(ytrain,tr_pred)
ts_err= mean_absolute_error(ytest,ts_pred)
tr_err,ts_err

(16.600867678958785, 35.922413793103445)

In [135]:
tg = {"n_neighbors":range(2,10,1)}
knr = KNeighborsRegressor()

from sklearn.model_selection import GridSearchCV
cv = GridSearchCV(knr,tg,scoring = "neg_mean_absolute_error",cv=4)
cvmodel = cv.fit(Xnew3,Y)
cvmodel.best_params_

{'n_neighbors': 9}

In [136]:
from sklearn.neighbors import KNeighborsRegressor
knr= KNeighborsRegressor(n_neighbors=9)

model =knr.fit(xtrain,ytrain)
tr_pred= model.predict(xtrain)
ts_pred =model.predict(xtest)
from sklearn.metrics import mean_absolute_error
tr_err= mean_absolute_error(ytrain,tr_pred)
ts_err= mean_absolute_error(ytest,ts_pred)
tr_err,ts_err

(16.600867678958785, 35.922413793103445)

# DecisionTreeRegressor

In [137]:

from sklearn.tree import DecisionTreeRegressor
dtr = DecisionTreeRegressor(random_state=21)
model = dtr.fit(xtrain,ytrain)
tr_pred = model.predict(xtrain)
ts_pred = model.predict(xtest)
from sklearn.metrics import mean_absolute_error
tr_err = mean_absolute_error(ytrain,tr_pred)
ts_err  = mean_absolute_error(ytest,ts_pred)

tr_err,ts_err

(0.0, 38.224137931034484)

# Pruning

In [138]:
tg = {"max_depth":range(2,20,1)}
dtr = DecisionTreeRegressor(random_state=21)

from sklearn.model_selection import GridSearchCV
cv = GridSearchCV(dtr,tg,scoring = "neg_mean_absolute_error",cv=4)
cvmodel = cv.fit(Xnew,Y)
cvmodel.best_params_

{'max_depth': 4}

In [139]:
tg = {"min_samples_leaf":range(2,20,1)}
dtr = DecisionTreeRegressor(random_state=21)

from sklearn.model_selection import GridSearchCV
cv = GridSearchCV(dtr,tg,scoring = "neg_mean_absolute_error",cv=4)
cvmodel = cv.fit(Xnew3,Y)
cvmodel.best_params_

{'min_samples_leaf': 16}

In [140]:
tg = {"min_samples_split":range(2,20,1)}
dtr = DecisionTreeRegressor(random_state=21)

from sklearn.model_selection import GridSearchCV
cv = GridSearchCV(dtr,tg,scoring = "neg_mean_absolute_error",cv=4)
cvmodel = cv.fit(Xnew3,Y)
cvmodel.best_params_

{'min_samples_split': 4}

In [141]:
dtr = DecisionTreeRegressor(min_samples_split=2)
model1 = dtr.fit(xtrain,ytrain)
tr_pred = model1.predict(xtrain)
ts_pred = model1.predict(xtest)
from sklearn.metrics import mean_absolute_error
tr_err = mean_absolute_error(ytrain,tr_pred)
ts_err  = mean_absolute_error(ytest,ts_pred)
tr_err,ts_err

(0.0, 37.3448275862069)

In [142]:
dtr = DecisionTreeRegressor(min_samples_leaf=2)
model1 = dtr.fit(xtrain,ytrain)
tr_pred = model1.predict(xtrain)
ts_pred = model1.predict(xtest)
from sklearn.metrics import mean_absolute_error
tr_err = mean_absolute_error(ytrain,tr_pred)
ts_err  = mean_absolute_error(ytest,ts_pred)
tr_err,ts_err

(11.383947939262473, 38.21551724137931)

In [143]:
dtr = DecisionTreeRegressor(max_depth=2)
model1 = dtr.fit(xtrain,ytrain)
tr_pred = model1.predict(xtrain)
ts_pred = model1.predict(xtest)
from sklearn.metrics import mean_absolute_error
tr_err = mean_absolute_error(ytrain,tr_pred)
ts_err  = mean_absolute_error(ytest,ts_pred)
tr_err,ts_err

(25.076918720230168, 30.99094039794723)

# RandomForest

In [144]:
from sklearn.ensemble import RandomForestRegressor
rfr = RandomForestRegressor(random_state=21)
model = rfr.fit(xtrain,ytrain)
tr_pred = model.predict(xtrain)
ts_pred = model.predict(xtest)
from sklearn.metrics import mean_absolute_error
tr_err = mean_absolute_error(ytrain,tr_pred)
ts_err  = mean_absolute_error(ytest,ts_pred)

tr_err,ts_err

(11.436702819956617, 31.34741379310345)

tg = {"max_depth":range(2,20,1),"n_estimators":range(2,200,10)}
rfc = RandomForestRegressor(random_state=21)
from sklearn.model_selection import GridSearchCV
cv = GridSearchCV(rfc,tg,scoring = "neg_mean_absolute_error",cv=4)
cvmodel = cv.fit(Xnew3,Y)
cvmodel.best_params_

In [145]:
rfr = RandomForestRegressor(random_state=21,max_depth=3,n_estimators=12)
model = rfr.fit(xtrain,ytrain)
tr_pred = model.predict(xtrain)
ts_pred = model.predict(xtest)
from sklearn.metrics import mean_absolute_error
tr_err = mean_absolute_error(ytrain,tr_pred)
ts_err  = mean_absolute_error(ytest,ts_pred)

tr_err,ts_err

(23.56237329508207, 29.54380261172659)

# Adaboost

In [146]:
from sklearn.ensemble import AdaBoostRegressor
from sklearn.tree import DecisionTreeRegressor
abr = AdaBoostRegressor(DecisionTreeRegressor(random_state=21,max_depth=2),n_estimators=40)
model = abr.fit(xtrain,ytrain)
tr_pred = model.predict(xtrain)
ts_pred = model.predict(xtest)
from sklearn.metrics import mean_absolute_error
tr_err = mean_absolute_error(ytrain,tr_pred)
ts_err  = mean_absolute_error(ytest,ts_pred)
tr_err,ts_err

(29.630627891822762, 33.39379607206772)

tg = {"n_estimators":range(2,30,10)}

dtr = DecisionTreeRegressor(random_state=21,max_depth=2)
abr = AdaBoostRegressor(dtr)

from sklearn.model_selection import GridSearchCV
cv = GridSearchCV(abr,tg,scoring = "accuracy",cv=4)
cvmodel = cv.fit(Xnew3,Y)
cvmodel.best_params_

In [147]:
from sklearn.ensemble import AdaBoostRegressor
from sklearn.tree import DecisionTreeRegressor
abr = AdaBoostRegressor(DecisionTreeRegressor(random_state=21,max_depth=2),n_estimators=2)
model = abr.fit(xtrain,ytrain)
tr_pred = model.predict(xtrain)
ts_pred = model.predict(xtest)
from sklearn.metrics import mean_absolute_error
tr_err = mean_absolute_error(ytrain,tr_pred)
ts_err  = mean_absolute_error(ytest,ts_pred)
tr_err,ts_err

(23.86198525811314, 27.149978243691255)

# Predict duration for customers

# Adaboost Regression is best

In [148]:

model =abr.fit(Xnew3,Y)

In [149]:
len(Xnew3.columns),len(Xnewb3.columns)

(19, 20)

In [150]:
Xnewb3.columns

Index(['Gender_Female', 'Gender_Male', 'Married_No', 'Married_Yes',
       'Dependents_0', 'Dependents_1', 'Dependents_2', 'Dependents_3+',
       'Education_Graduate', 'Education_Not Graduate', 'Self_Employed_No',
       'Self_Employed_Yes', 'Property_Area_Rural', 'Property_Area_Semiurban',
       'Property_Area_Urban', 'Unnamed: 0', 'ApplicantIncome',
       'CoapplicantIncome', 'LoanAmount', 'Credit_History'],
      dtype='object')

In [151]:
Xnew3[Xnewb3.columns]

KeyError: "['Unnamed: 0'] not in index"

In [152]:
Xnew3['Unnamed: 0']=0

In [153]:
model =abr.fit(Xnew3,Y)

In [154]:
D_cust["Loan_Amount_Term "]=model.predict(Xnewb3)

In [155]:
D_cust

,Unnamed: 0,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status,Loan_Amount_Term
0,8,LP001059,Male,Yes,2,Graduate,No,13633,0,280.0,240.0,1.0,Urban,N,345.000000
1,12,LP001083,Male,No,3+,Graduate,No,4166,0,40.0,180.0,1.0,Urban,N,355.449057
2,19,LP001115,Male,No,0,Graduate,No,1300,3470,100.0,180.0,1.0,Semiurban,N,355.449057
3,21,LP001124,Female,No,3+,Not Graduate,No,2083,0,28.0,180.0,1.0,Urban,N,355.449057
4,29,LP001176,Male,No,0,Graduate,No,2942,2382,125.0,180.0,1.0,Urban,N,355.449057
5,36,LP001208,Male,Yes,2,Graduate,No,7350,4029,185.0,180.0,1.0,Urban,N,345.000000
6,53,LP001298,Male,Yes,2,Graduate,No,4116,1000,30.0,180.0,1.0,Urban,N,355.449057
7,57,LP001321,Male,Yes,2,Graduate,No,3613,3539,134.0,180.0,1.0,Semiurban,N,355.449057
8,59,LP001324,Male,Yes,3+,Graduate,No,4720,0,90.0,180.0,1.0,Semiurban,N,355.449057
9,72,LP001375,Male,Yes,1,Graduate,No,4083,1775,139.0,60.0,1.0,Urban,N,355.449057
10,84,LP001450,Male,Yes,0,Graduate,No,4456,0,131.0,180.0,0.0,Semiurban,N,355.449057
11,85,LP001452,Male,Yes,2,Graduate,No,4635,8000,102.0,180.0,1.0,Rural,N,355.449057
12,103,LP001548,Male,Yes,2,Not Graduate,No,2687,0,50.0,180.0,1.0,Rural,N,355.449057
13,128,LP001667,Male,No,0,Graduate,No,3073,0,70.0,180.0,1.0,Urban,N,355.449057
14,134,LP001737,Male,No,0,Graduate,No,4000,0,83.0,84.0,1.0,Urban,N,355.449057
15,141,LP001787,Male,Yes,3+,Graduate,No,3089,2999,100.0,240.0,1.0,Rural,N,355.449057
16,144,LP001794,Male,Yes,2,Graduate,Yes,10890,0,260.0,12.0,1.0,Rural,N,345.000000
17,164,LP001921,Male,No,1,Graduate,No,3180,2370,80.0,240.0,1.0,Rural,N,355.449057
18,173,LP001979,Male,No,0,Graduate,No,3017,2845,159.0,180.0,0.0,Urban,N,355.449057
19,190,LP002062,Female,Yes,1,Graduate,No,4333,0,132.0,84.0,1.0,Rural,N,355.449057
20,216,LP002186,Male,Yes,0,Not Graduate,No,2747,2458,118.0,36.0,1.0,Semiurban,N,355.449057
21,232,LP002306,Male,Yes,0,Graduate,No,1173,1594,28.0,180.0,1.0,Rural,N,355.449057
22,245,LP002355,Male,Yes,0,Graduate,No,3186,3145,150.0,180.0,0.0,Semiurban,N,355.449057
23,249,LP002376,Male,No,0,Graduate,No,2925,0,40.0,180.0,1.0,Rural,N,355.449057
24,277,LP002550,Female,No,0,Graduate,No,5769,0,110.0,180.0,1.0,Semiurban,N,180.000000
25,312,LP002754,Male,No,0,Graduate,No,2066,2108,104.0,84.0,1.0,Urban,N,355.449057
26,315,LP002766,Female,Yes,0,Graduate,No,7859,879,165.0,180.0,1.0,Semiurban,N,345.000000
27,322,LP002790,Male,Yes,3+,Graduate,No,3400,0,80.0,120.0,1.0,Urban,N,355.449057
28,325,LP002802,Male,No,0,Graduate,No,2875,2416,95.0,6.0,0.0,Semiurban,N,355.449057
29,338,LP002857,Male,Yes,1,Graduate,Yes,2360,3355,87.0,240.0,1.0,Rural,N,355.449057
30,340,LP002860,Male,Yes,0,Graduate,Yes,2623,4831,122.0,180.0,1.0,Semiurban,N,355.449057
31,342,LP002869,Male,Yes,3+,Not Graduate,No,3522,0,81.0,180.0,1.0,Rural,N,355.449057
32,354,LP002921,Male,Yes,3+,Not Graduate,No,5316,187,158.0,180.0,0.0,Semiurban,N,355.449057
33,366,LP002989,Male,No,0,Graduate,Yes,9200,0,98.0,180.0,1.0,Rural,N,345.000000

In [156]:
D_cust.to_csv("C:/Users/Suja4/OneDrive/Documents/Data Science/Dataset/submission_loan_3.csv")