# Read data

In [1]:
import pandas as pd
A=pd.read_csv("C:/Users/Suja4/OneDrive/Documents/Data Science/Dataset/Cars93.csv")
from warnings import filterwarnings 
filterwarnings("ignore")

In [2]:
A.head()

,id,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
0,1,Acura,Integra,Small,12.9,15.9,18.8,25,31,None,...,5,177,102,68,37,26.5,11.0,2705,non-USA,Acura Integra
1,2,Acura,Legend,Midsize,29.2,33.9,38.7,18,25,Driver & Passenger,...,5,195,115,71,38,30.0,15.0,3560,non-USA,Acura Legend
2,3,Audi,90,Compact,25.9,29.1,32.3,20,26,Driver only,...,5,180,102,67,37,28.0,14.0,3375,non-USA,Audi 90
3,4,Audi,100,Midsize,30.8,37.7,44.6,19,26,NaN,...,6,193,106,70,37,31.0,17.0,3405,non-USA,Audi 100
4,5,BMW,535i,Midsize,23.7,30.0,36.2,22,30,Driver only,...,4,186,109,69,39,27.0,13.0,3640,non-USA,BMW 535i

In [3]:
from Wd8pm import replacer

In [4]:
replacer(A)

In [5]:
Y = A[["Weight"]]
X = A.drop(labels=["Make","id","Model","Weight"],axis=1)
from Wd8pm import catcon
cat,con = catcon(X)
Xnew = pd.get_dummies(X[cat]).join(X[con])
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(Xnew,Y,test_size=0.2,random_state=21)

# RF

In [7]:
from sklearn.ensemble import RandomForestRegressor
rfr = RandomForestRegressor(random_state=21)
model = rfr.fit(xtrain,ytrain)
tr_pred = model.predict(xtrain)
ts_pred = model.predict(xtest)
from sklearn.metrics import mean_absolute_error
tr_acc = mean_absolute_error(ytrain,tr_pred)
ts_acc  = mean_absolute_error(ytest,ts_pred)

tr_acc,ts_acc

(49.758108108108104, 104.31842105263159)

# Overfitting observed(pruning)

In [8]:
from sklearn.ensemble import RandomForestRegressor
rfr = RandomForestRegressor(n_estimators=150,max_depth=2)
model = rfr.fit(xtrain,ytrain)
tr_pred = model.predict(xtrain)
ts_pred = model.predict(xtest)
from sklearn.metrics import mean_absolute_error
tr_acc = mean_absolute_error(ytrain,tr_pred)
ts_acc  = mean_absolute_error(ytest,ts_pred)

tr_acc,ts_acc

(112.59400791241289, 140.7915193398217)

# GridSearchCV for hyperparameters

In [11]:
tg = {"max_depth":range(2,20,1),"n_estimators":range(2,200,10)}
rfc = RandomForestRegressor(random_state=21)
from sklearn.model_selection import GridSearchCV
cv = GridSearchCV(rfc,tg,scoring = "neg_mean_absolute_error",cv=4)
cvmodel = cv.fit(Xnew,Y)
cvmodel.best_params_

{'max_depth': 7, 'n_estimators': 32}

In [12]:
rfc = RandomForestRegressor(random_state=21,max_depth=7,n_estimators=32)
model = rfc.fit(Xnew,Y)

# Feature Importance

In [14]:
rfc = RandomForestRegressor(random_state=21,max_depth=7,n_estimators=32)
rfc.fit(Xnew,Y)
rfc.feature_importances_

array([3.01824514e-05, 3.00254022e-04, 8.95896784e-06, 4.15778888e-05,
       4.28057209e-06, 2.09650608e-04, 5.73298797e-07, 1.14262918e-06,
       2.04710199e-04, 0.00000000e+00, 9.74602177e-05, 1.64130405e-04,
       1.09320399e-06, 3.00250392e-05, 2.62725684e-06, 2.21743477e-04,
       2.54809775e-06, 5.64629476e-05, 0.00000000e+00, 6.54134263e-05,
       1.16968910e-04, 2.15009806e-04, 4.01458413e-04, 2.23892230e-05,
       3.19183859e-06, 9.61597483e-06, 0.00000000e+00, 1.57036388e-04,
       1.14099777e-05, 8.59780297e-05, 1.70649834e-04, 0.00000000e+00,
       4.75541187e-05, 3.85435411e-05, 6.09292764e-04, 3.00759705e-05,
       2.70737789e-05, 4.98852610e-04, 1.09952984e-04, 2.59585735e-04,
       6.37592165e-04, 2.23259576e-04, 2.14092630e-04, 1.14469875e-04,
       0.00000000e+00, 1.64642278e-03, 2.94622539e-04, 3.62076809e-04,
       1.28117810e-04, 0.00000000e+00, 1.54328320e-04, 8.03458996e-05,
       1.30901662e-04, 1.76459625e-05, 8.66015712e-02, 1.75122022e-02,
       6.79644484e-03, 3.09762622e-02, 1.45207859e-02, 5.83187369e-01,
       1.59259578e-02, 1.38639511e-03, 6.28884245e-03, 4.31012634e-02,
       1.27127482e-04, 1.72750097e-02, 1.16302193e-01, 3.51641915e-02,
       1.17817183e-02, 3.35311491e-03, 1.43820023e-03])

In [15]:
Q = pd.DataFrame([Xnew.columns,rfc.feature_importances_]).T
Q.columns = ["Column_Name","Importance"]

In [16]:
Q.sort_values(by="Importance",ascending=False)

                   Column_Name Importance
59                  EngineSize   0.583187
66                   Wheelbase   0.116302
54                   Min.Price   0.086602
63          Fuel.tank.capacity   0.043101
67                       Width   0.035164
..                         ...        ...
9           Manufacturer_Eagle        0.0
44                 Cylinders_3        0.0
26         Manufacturer_Saturn        0.0
31          Manufacturer_Volvo        0.0
18  Manufacturer_Mercedes-Benz        0.0

[71 rows x 2 columns]