In [1]:
from warnings import filterwarnings
filterwarnings("ignore")

In [2]:
import pandas as pd
A = pd.read_csv("C:/Users/Suja4/OneDrive/Documents/Data Science/Dataset/Restaurant_Reviews.tsv",sep="\t")

In [3]:
A.head(10)

                                              Review  Liked
0                           Wow... Loved this place.      1
1                                 Crust is not good.      0
2          Not tasty and the texture was just nasty.      0
3  Stopped by during the late May bank holiday of...      1
4  The selection on the menu was great and so wer...      1
5     Now I am getting angry and I want my damn pho.      0
6              Honeslty it didn't taste THAT fresh.)      0
7  The potatoes were like rubber and you could te...      0
8                          The fries were great too.      1
9                                     A great touch.      1

# Preprocessing

In [4]:
Q = []
for i in A.Review:
    j = i.lower()
    import re
    k = re.sub("[^a-z0-9 ]","",j)
    Q.append(k)

In [5]:
from sklearn.feature_extraction.text import TfidfVectorizer
tf = TfidfVectorizer()

In [6]:
data=tf.fit_transform(Q).toarray()

In [7]:
data

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

# Declare X and Y

In [8]:
X = data
Y = A.Liked.values

In [9]:
X.shape

(1000, 2067)

In [10]:
Y.shape

(1000,)

# create a neural network

In [11]:
from keras.models import Sequential
from keras.layers import Dense,Dropout

In [12]:
nn=Sequential()
nn.add(Dense(2067,input_dim=2067))
nn.add(Dense(2067))
nn.add(Dropout(0.1))
nn.add(Dense(1,activation="sigmoid"))

In [58]:
nn.compile(loss="binary_crossentropy",metrics="accuracy")
model = nn.fit(X,Y,validation_split=0.2,epochs=10)

Epoch 1/10
25/25 [==============================] - 2s 58ms/step - loss: 4.2245e-09 - accuracy: 1.0000 - val_loss: 1.6669 - val_accuracy: 0.8050
Epoch 2/10
25/25 [==============================] - 1s 49ms/step - loss: 4.2531e-09 - accuracy: 1.0000 - val_loss: 1.6954 - val_accuracy: 0.8050
Epoch 3/10
25/25 [==============================] - 1s 49ms/step - loss: 4.0521e-09 - accuracy: 1.0000 - val_loss: 1.6794 - val_accuracy: 0.8100
Epoch 4/10
25/25 [==============================] - 1s 51ms/step - loss: 4.0130e-09 - accuracy: 1.0000 - val_loss: 1.6755 - val_accuracy: 0.8050
Epoch 5/10
25/25 [==============================] - 1s 51ms/step - loss: 3.9299e-09 - accuracy: 1.0000 - val_loss: 1.6938 - val_accuracy: 0.8050
Epoch 6/10
25/25 [==============================] - 1s 50ms/step - loss: 3.8426e-09 - accuracy: 1.0000 - val_loss: 1.6828 - val_accuracy: 0.8050
Epoch 7/10
25/25 [==============================] - 1s 49ms/step - loss: 3.7610e-09 - accuracy: 1.0000 - val_loss: 1.6773 - val_accuracy: 0.8100
Epoch 8/10
25/25 [==============================] - 1s 50ms/step - loss: 3.7594e-09 - accuracy: 1.0000 - val_loss: 1.6679 - val_accuracy: 0.8100
Epoch 9/10
25/25 [==============================] - 1s 52ms/step - loss: 3.7182e-09 - accuracy: 1.0000 - val_loss: 1.6688 - val_accuracy: 0.8100
Epoch 10/10
25/25 [==============================] - 1s 50ms/step - loss: 3.6753e-09 - accuracy: 1.0000 - val_loss: 1.6848 - val_accuracy: 0.8050

# Predictions

In [59]:
A1 = pd.read_csv("C:/Users/Suja4/OneDrive/Documents/Data Science/Dataset/rest_reviews_testing.csv")

In [60]:
A1.head()

                          Review
0            Tasty and delicious
1                  crust is hard
2  yummy....I like Dominos pizza
3    fast service and good taste
4                    Good taste

In [61]:
Q = []
for i in A1.Review:
    j = i.lower()
    import re
    k = re.sub("[^a-z0-9 ]","",j)
    Q.append(k)

In [62]:
Q

['tasty and delicious',
 'crust is hard',
 'yummyi like dominos pizza',
 'fast service and good taste',
 'good taste ',
 'its very delicious hope it will maintain tast',
 'food was okay but the cheesy dip provided was expired',
 'taste is ok but not satisfied',
 'poor service ',
 'good hygiene food delivered by dominos with proper safety',
 'not good',
 'taste is not ok also service is not satisfied',
 'delayed service',
 'horrible taste',
 'late service',
 'taste is ok but delivery is too latecant spend that much time',
 'disappointing food experience']

In [63]:
data_pred = tf.transform(Q).toarray()

In [64]:
nn.predict(data_pred)

WARNING:tensorflow:5 out of the last 9 calls to <function Model.make_predict_function.<locals>.predict_function at 0x0000023A7FAE3310> triggered tf.function retracing. Tracing is expensive and the excessive number of tracings could be due to (1) creating @tf.function repeatedly in a loop, (2) passing tensors with different shapes, (3) passing Python objects instead of tensors. For (1), please define your @tf.function outside of the loop. For (2), @tf.function has reduce_retracing=True option that can avoid unnecessary retracing. For (3), please refer to https://www.tensorflow.org/guide/function#controlling_retracing and https://www.tensorflow.org/api_docs/python/tf/function for  more details.
1/1 [==============================] - 0s 39ms/step

array([[1.0000000e+00],
       [1.1208059e-15],
       [1.0000000e+00],
       [1.0000000e+00],
       [1.0000000e+00],
       [1.0000000e+00],
       [1.2064746e-04],
       [6.6356365e-14],
       [4.8684404e-14],
       [9.9999982e-01],
       [1.6669634e-06],
       [6.0873907e-14],
       [8.0909288e-01],
       [1.6098142e-10],
       [9.8611349e-01],
       [1.3671763e-12],
       [1.6952258e-04]], dtype=float32)

In [65]:
T = []
for i in nn.predict(data_pred):
    if(round(i[0],2) < 0.5):
       T.append(0)
    else:
       T.append(1)

1/1 [==============================] - 0s 17ms/step

In [66]:
T

[1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0]

In [67]:
A1["Liked"]=T

In [68]:
A1

                                               Review  Liked
0                                 Tasty and delicious      1
1                                       crust is hard      0
2                       yummy....I like Dominos pizza      1
3                         fast service and good taste      1
4                                         Good taste       1
5   Its very delicious... hope it will maintain ta...      1
6   Food was okay but the cheesy dip provided was ...      0
7                       taste is ok but not satisfied      0
8                                       Poor service       0
9   Good hygiene food delivered by dominos with pr...      1
10                                           Not Good      0
11      taste is not ok also service is not satisfied      0
12                                    Delayed service      1
13                                     Horrible taste      0
14                                       Late Service      1
15  taste is ok but delivery is too late..Can't sp...      0
16                      disappointing food experience      0