pip install mlxtend

In [5]:
A = [['Milk', 'Onion', 'Chhole', 'Rajma', 'Ghee', 'Dahi'],
     ['Brinjal', 'Onion', 'Chhole', 'Rajma', 'Ghee', 'Dahi'],
     ['Milk', 'Apple', 'Rajma', 'Ghee'],
     ['Milk', 'Mutter', 'Corn', 'Rajma', 'Dahi'],
     ['Corn', 'Onion', 'Onion', 'Rajma', 'Ice cream', 'Ghee']]

In [6]:
from mlxtend.preprocessing import TransactionEncoder
import pandas as pd
te = TransactionEncoder()
Q = pd.DataFrame(te.fit_transform(A),columns=te.columns_)

In [7]:
Q

,Apple,Brinjal,Chhole,Corn,Dahi,Ghee,Ice cream,Milk,Mutter,Onion,Rajma
0,False,False,True,False,True,True,False,True,False,True,True
1,False,True,True,False,True,True,False,False,False,True,True
2,True,False,False,False,False,True,False,True,False,False,True
3,False,False,False,True,True,False,False,True,True,False,True
4,False,False,False,True,False,True,True,False,False,True,True

In [8]:
Q[["Rajma","Dahi"]]

   Rajma   Dahi
0   True   True
1   True   True
2   True  False
3   True   True
4   True  False

In [9]:
from mlxtend.frequent_patterns import apriori
B = apriori(Q,use_colnames=True)

In [10]:
Q[["Rajma","Dahi"]]

   Rajma   Dahi
0   True   True
1   True   True
2   True  False
3   True   True
4   True  False

In [11]:
B

    support              itemsets
0       0.6                (Dahi)
1       0.8                (Ghee)
2       0.6                (Milk)
3       0.6               (Onion)
4       1.0               (Rajma)
5       0.6         (Rajma, Dahi)
6       0.6         (Onion, Ghee)
7       0.8         (Rajma, Ghee)
8       0.6         (Rajma, Milk)
9       0.6        (Rajma, Onion)
10      0.6  (Rajma, Onion, Ghee)

In [12]:
W = []
for i in B.itemsets:
    W.append(len(i))

In [13]:
W

[1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 3]

In [14]:
B['Length']=W

In [15]:
B[B.Length==2]

   support        itemsets  Length
5      0.6   (Rajma, Dahi)       2
6      0.6   (Onion, Ghee)       2
7      0.8   (Rajma, Ghee)       2
8      0.6   (Rajma, Milk)       2
9      0.6  (Rajma, Onion)       2

In [16]:
single = Q.Rajma.sum()

In [17]:
both = len(Q[(Q['Rajma']==True)&(Q["Dahi"]==True)])

In [18]:
conf = both/single
conf

0.6

In [19]:
def confidence(df,i,j):
    single = df[i].sum()
    both = len(Q[(Q[i]==True)&(Q[j]==True)])
    conf = both/single
    return conf

In [20]:
confidence(Q,"Dahi","Milk")

0.6666666666666666

In [21]:
Q[["Dahi","Milk"]]

    Dahi   Milk
0   True   True
1   True  False
2  False   True
3   True   True
4  False  False

In [22]:
def strength(df,i,j):
    single = df[i].sum()
    both = len(Q[(Q[i]==True)&(Q[j]==True)])
    conf = both/single
    s = len(df)
    supp = single/s
    return supp,conf

In [23]:
strength(Q,"Dahi","Milk")

(0.6, 0.6666666666666666)

In [24]:
supports = []
confidences = []
for i in te.columns_:
    supp,conf = strength(Q,"Dahi",i)
    supports.append(round(supp,2))
    confidences.append(round(conf,2))
    print("Dahi ~",i,"Support:",round(supp,2),"Confidence:",round(conf,2))

Dahi ~ Apple Support: 0.6 Confidence: 0.0
Dahi ~ Brinjal Support: 0.6 Confidence: 0.33
Dahi ~ Chhole Support: 0.6 Confidence: 0.67
Dahi ~ Corn Support: 0.6 Confidence: 0.33
Dahi ~ Dahi Support: 0.6 Confidence: 1.0
Dahi ~ Ghee Support: 0.6 Confidence: 0.67
Dahi ~ Ice cream Support: 0.6 Confidence: 0.0
Dahi ~ Milk Support: 0.6 Confidence: 0.67
Dahi ~ Mutter Support: 0.6 Confidence: 0.33
Dahi ~ Onion Support: 0.6 Confidence: 0.67
Dahi ~ Rajma Support: 0.6 Confidence: 1.0

In [25]:
Q1 = pd.DataFrame(te.columns_,columns=["Name"])
Q1["Support"]=supports
Q1['Confidence']=confidences
Q1.sort_values(by=["Support","Confidence"])

         Name  Support  Confidence
0       Apple      0.6        0.00
6   Ice cream      0.6        0.00
1     Brinjal      0.6        0.33
3        Corn      0.6        0.33
8      Mutter      0.6        0.33
2      Chhole      0.6        0.67
5        Ghee      0.6        0.67
7        Milk      0.6        0.67
9       Onion      0.6        0.67
4        Dahi      0.6        1.00
10      Rajma      0.6        1.00

In [26]:
Q.Rajma

0    True
1    True
2    True
3    True
4    True
Name: Rajma, dtype: bool

In [27]:
Q[(Q.Rajma==True) & (Q.Dahi == True)].shape[0]

3

In [28]:
Q[(Q.Rajma==True)].shape[0]

5

In [29]:
3/5

0.6